<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>판매 정보 게시판</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/user.css}">

</head>

<body>
    <div class="container">
        <div class="logo">
            <a th:href="@{/}"><img th:src="@{/images/mango.png}" alt="logo"></a>
            <h2>판매정보게시판</h2>
        </div>
    </div>


    <div sec:authorize="isAuthenticated()" class="insertProduct btn btn-primary">
        <a th:href="@{/board/boardWrite}">판매글 등록</a>
    </div>

    <div>

        <!--게시글 전체 목록 출력-->
        <div class="content">
            <p th:if="${#lists.isEmpty(list)}">등록된 상품이 없습니다.</p>
            <!-- 게시글 목록 -->
            <!-- <input type="hidden" id="contextPath" th:value="${contextPath}"> -->

            <table border="1">

                <tr>
                    <th class="no">글번호</th>
                    <th>글제목</th>
                    <th>작성자</th>
                </tr>
                <tr th:each="board, status :${list}">

                    <td><a th:href="@{/board/boardDetail(boardNum=${board.boardNum})}" th:text="${status.index+1}">글 번호
                    </td>
                    <td>
                        <a th:href="@{/board/boardDetail(boardNum=${board.boardNum})}"
                            th:text="${board.boardTitle}">글제목</a>
                    </td>

                    <td th:text="${board.boardWriter}">홍길동</td>




                </tr>
            </table>
        </div> <!--.content끝-->
    </div>






</body>

</html>