<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>규제</title>
    <link rel="icon" th:href="@{/images/common/favi.png}">
    <meta property="og:title" content="나이스투매치유">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image" content="http://ilmobility.co.kr/@resource/images/common/sns_share.png">
    <!--폰트 어썸-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!--부트스트랩5버전(미래)-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!--css-->
    <link type="text/css" rel="stylesheet" th:href="@{/css/serviceCss/showReg.css}">

    <!-- 페이지가 소셜 미디어 플랫폼에 공유될 때 표시될 이미지의 URL을 지정 -->
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="400">
    <link type="text/css" rel="stylesheet" th:href="@{/css/inquirymodal.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/nice_dev.css}"><!--이거 때문에 안됨-->
    <script th:src="@{/js/lib/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/nice_dev.js}"></script>


</head>

<body>
    <!--상단 메뉴바-->
    <div class="skip-nav"> <a href="#content">본문 바로가기</a> </div>
    <div id="wrap" class="wrap">
        <header id="header" class="header">
            <div class="header-inner">
                <h1 class="logo">
                    <a href="/">
                        <span class="blind">NICE TO MATCH YOU</span>
                    </a>
                </h1>
                <nav id="nav" class="nav">
                    <div class="nav-wrap">
                        <ul class="gnb-list">
                            <li>
                                <a href="" class="has-depth">
                                    <span>ABOUT</span>
                                </a>
                                <ul>
                                    <li>
                                        <a th:href="@{/about}"><!--페이지 나중에 삽입-->
                                            <span>NICE TO MATCH YOU</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="" class="has-depth">
                                    <span>SERVICE</span>
                                </a>
                                <ul>
                                    <li>
                                        <a th:href="@{/showOvsNews}">
                                            <span>News</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/showFraud}">
                                            <span>Trade fraud</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/globeindex}">
                                            <span>Trade statistics</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/rate}">
                                            <span>Exchange Rate</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="" class="has-depth">
                                    <span>MATCH</span>
                                </a>
                                <ul>
                                    <li>
                                        <a th:href="@{/search}">
                                            <span>Keyword</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/categorySearch}" target="_blank">
                                            <span>Category</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a th:href="@{/noticeList}"><!--수정 필요-->
                                    <span>NOTICE</span>
                                </a>
                            </li>
                            <li sec:authorize="isAnonymous()">
                                <a th:href="@{/user/login}">
                                    <span>LOGIN</span>
                                </a>
                            </li>
                            <li sec:authorize="isAuthenticated()">
                                <a th:href="@{/user/mypage}" class="has-depth">
                                    <span>MY PAGE</span>
                                </a>
                                <ul>
                                    <li>
                                        <a th:href="@{/user/logout}">
                                            <span>LOGOUT</span>
                                        </a>
                                    </li>

                                </ul>
                            </li>

                        </ul>
                    </div> <!-- // .nav-wrap -->
                </nav>
                <!--상단 메뉴바-->
                <div class="btns">
                    <button type="button" class="btn open-nav" id="openMe">
                        <span class="blind">메뉴 열기</span>
                    </button>
                    <button type="button" class="btn close-nav">
                        <span class="blind">메뉴 열기</span>
                    </button>
                </div>
                <divqq class="nav-bg"></divqq>
            </div>
        </header>
        <br><br><br><br><br>
        <div id="scroller" class="scroller" data-scrollbar>


            <!--데이터 꽂히는 부분 내용-->
            <div class="content">
                <div class="sub-visual sub-visual--sub2">
                    <div class="sub-visual__inner">

                        <h2 class="sub-visual__h2" id="conuntryName">무역규제</h2>
                        <p class="sub-visual__desc">세계 각국의 무역 규제에대한 정보를 제공합니다.</p>
                    </div>
                </div>
                <div class="page-header on">
                </div>
                <div id="flagBtn">
                    <img id="countryFlag" src="" alt="Flag">
                    <button class="bbb btn-primary jittery" id="bbb"><a
                            href="https://www.hs-tariff.com/main/hs_mti_ai_main/?device=pc" target="_blank">HS코드를
                            모른다면</a></button>

                </div>

                <!-- <div class="conuntryName">
                    <span id="conuntryName">나라이름</span>
                </div> -->


                <div id="insertReg">
                </div>

                <!--풋터-->
                <footer id="footer" class="footer">
                    <div class="footer-inner">
                        <div class="cont site">
                            <div class="menu">
                                <a>개인정보처리방침</a>
                                <a>이용약관</a>
                            </div>
                            <div class="select-box">
                                <select class="select family" title="나이스투매치유">
                                    <option value disabled selected>Family Site</option>
                                    <option value="https://g2b-rating.nicednb.com/index.html#MENUCM0100">NICE D&B
                                    </option>
                                    <option value="http://www.ec21.co.kr/">EC21</option>
                                    <option value="https://www.valuelinku.com/">ValueLinkeU</option>
                                    <option value="https://www.hanwhacorp.co.kr/">HANWHA</option>
                                    <option value="https://www.itronics.co.kr">5조</option>
                                </select>
                            </div>
                        </div>
                        <!--풋터-->
                        <div class="cont contact">
                            <address>
                                <span>서울특별시 강남구 영동대로 513 COEX 4층 무역아카데미</span>
                                <span>대표자&nbsp;<em>주진명</em></span>
                                <span>TEL.<em>010-2432-2450</em></span>
                            </address>
                            <p class="copyright">Copyright 2024 NICETOMATCHYOU Inc. All Rights Reserved.</p>
                        </div>
                    </div>
                </footer>
            </div><!-- id:scroller-->
        </div><!-- // #wrap -->

        <!--나라별 규제 끌어오는 부분-->
        <script>
            document.addEventListener('DOMContentLoaded', function () {

                // 나라 이름 반환 
                const countryNames = {
                    "CN": "China", "KR": "South Korea", "IN": "India", "MY": "Malaysia", "JP": "Japan", "TH": "Thailand", "HK": "Hong Kong", "SG": "Singapore", "TW": "Taiwan", "AE": "United Arab Emirates",
                    "IL": "Israel", "BH": "Bahrain", "QA": "Qatar", "VN": "Vietnam", "SA": "Saudi Arabia", "ID": "Indonesia", "PH": "Philippines", "PK": "Pakistan", "LK": "Sri Lanka", "UZ": "Uzbekistan",
                    "DE": "Germany", "GB": "United Kingdom", "FR": "France", "SE": "Sweden", "AT": "Austria", "DK": "Denmark", "IT": "Italy", "BE": "Belgium", "NL": "Netherlands", "SI": "Slovenia",
                    "HU": "Hungary", "CH": "Switzerland", "CZ": "Czech Republic", "RO": "Romania", "TR": "Turkey", "RS": "Serbia", "PL": "Poland", "UA": "Ukraine", "SK": "Slovakia", "FI": "Finland",
                    "BG": "Bulgaria", "EE": "Estonia", "GR": "Greece", "NO": "Norway", "PT": "Portugal", "LV": "Latvia", "HR": "Croatia", "GE": "Georgia", "BY": "Belarus", "LT": "Lithuania",
                    "MT": "Malta", "BA": "Bosnia and Herzegovina", "ES": "Spain", "US": "United States", "CA": "Canada", "MX": "Mexico", "GT": "Guatemala", "CR": "Costa Rica", "SV": "El Salvador", "JM": "Jamaica",
                    "NI": "Nicaragua", "DO": "Dominican Republic", "VG": "British Virgin Islands", "PA": "Panama", "BR": "Brazil", "CO": "Colombia", "AR": "Argentina", "CL": "Chile", "VE": "Venezuela", "EC": "Ecuador",
                    "TT": "Trinidad and Tobago", "ZA": "South Africa", "NG": "Nigeria", "EG": "Egypt", "MA": "Morocco", "KE": "Kenya", "NZ": "New Zealand", "AU": "Australia", "RU": "Russia"
                };
                function getCountryName(code) {
                    return countryNames[code] || code;  // 국가 코드에 해당하는 이름이 없다면 코드를 그대로 반환
                }

                console.log(flagUrl)
                const params = new URLSearchParams(window.location.search);
                const country = params.get('country');

                //국기 api
                var flagUrl = `https://flagsapi.com/${country}/flat/64.png`; // 국기 이미지 URL 생성
                let countryName = getCountryName(country);
                // 나라이름 반환 
                // document.getElementById("conuntryName").innerHTML = countryName;
                document.getElementById("conuntryName").innerHTML = countryName + " 무역 규제";
                //alert(countryName); // 나라 이름 반환
                document.getElementById('countryFlag').src = flagUrl; // 이미지 소스 업데이트

                if (!country) {
                    document.getElementById('insertReg').innerHTML = 'No country specified.';
                    return;
                }

                fetch('/file/STAT_REG.csv')
                    .then(response => response.text())
                    .then(csvString => {
                        const parsedData = parseCSV(csvString);
                        const filteredData = filterByCountry(parsedData, country);
                        const tableHTML = convertToTableHTML(filteredData);
                        document.getElementById('insertReg').innerHTML = tableHTML;
                    })
                    .catch(error => {
                        console.error('Failed to load CSV file:', error);
                        document.getElementById('insertReg').innerHTML = 'Error loading data.';
                    });
            });

            function parseCSV(csvString) {
                const rows = csvString.split('\n').filter(row => row.trim() !== '');
                return rows.map(row => {
                    let inQuotes = false;
                    let modifiedRow = '';
                    for (let char of row) {
                        if (char === '"') {
                            inQuotes = !inQuotes;
                        }
                        if (char === ',' && inQuotes) {
                            modifiedRow += '|'; // 일시적인 대체 문자
                        } else {
                            modifiedRow += char;
                        }
                    }
                    return modifiedRow.split(',').map(value => value.replace(/\|/g, ',').trim().replace(/"/g, ''));
                });
            }

            function filterByCountry(data, country) {
                return data.filter(row => row[0].toLowerCase() === country.toLowerCase());
            }

            function convertToTableHTML(data) {
                if (data.length === 0) {
                    document.getElementById("countryFlag").style.display = "none";
                    return '해당국가의 규제관련 데이터가 존재하지 않습니다.';
                    return '';
                }
                let table = '<table border="1" id="regulationTable">';
                table += `
            <thead>
                    <tr>
                        <th>국가코드</th>
                        <th>물품</th>
                        <th>적용국가</th>
                        <th>규제내용</th>
                        <th>HS코드</th>
                        
                    </tr>
            </thead>`;
                data.forEach((row, index) => {
                    table += '<tr>';
                    row.forEach(cell => {
                        table += `<td>${cell}</td>`;
                    });
                    table += '</tr>';
                });
                table += '</table>';
                return table;
            }
        </script>


        <!--상단과 하단바에 적용되는 부분-->
        <script th:src="@{/js/lib/gsap.min.js}"></script>
        <script th:src="@{/js/lib/ScrollTrigger.min.js}"></script>
        <script th:src="@{/js/lib/smooth-scrollbar.js}"></script>
        <script th:src="@{/js/lib/aos.js}"></script>
        <script th:src="@{/js/lib/swiper-bundle.js}"></script>
        <script>
            nav.current(2, 3);
            familySite();

            jQuery(function () {

                setTimeout(function () {
                    $('.page-header').addClass('on');
                    $('.counter').animate({ 'opacity': '1.0' }, 300);
                }, 150);



                yearCount();

                $(window).on("resize", function () {
                    yearCount();
                });

                function yearCount() {
                    $counter = $('.counter');
                    var windowWidth = window.innerWidth;
                    if (windowWidth > 961) {

                        $('.counter').css('font-size', '140px');
                    } else {

                        $('.counter').css('font-size', '80px');
                    }

                }


                gsap.registerPlugin(ScrollTrigger);

                gsap.to('.section.with .cont1', {
                    scrollTrigger: {
                        trigger: '.section.with',
                        start: 'top 70%-=20%',
                        end: 'top top-=120%',
                        scrub: 1,
                        onEnter: () => $('.section.with .cont1 .masking-wrap').removeClass('hide').addClass('show'),
                        onLeave: () => $('.section.with .cont1 .masking-wrap').removeClass('show').addClass('hide'),
                        onEnterBack: () => $('.section.with .cont1 .masking-wrap').removeClass('hide').addClass('show'),
                        onLeaveBack: () => $('.section.with .cont1 .masking-wrap').removeClass('show').addClass('hide'),
                    },
                });

                gsap.to('.section.with .cont2', {
                    scrollTrigger: {
                        trigger: '.section.with',
                        start: 'top top-=140%',
                        end: 'top top-=240%',
                        scrub: 1,
                        onEnter: () => $('.section.with .cont2 .masking-wrap').removeClass('hide').addClass('show'),
                        onEnterBack: () => $('.section.with .cont2 .masking-wrap').removeClass('hide').addClass('show'),
                        onLeaveBack: () => $('.section.with .cont2 .masking-wrap').removeClass('show').addClass('hide'),
                    },
                });

                gsap.timeline({
                    scrollTrigger: {
                        start: "top top",
                        pin: '.section.with',
                        end: "+=250%",
                        pinSpacing: true,
                        scrub: 0.5
                    },
                }).to('.section.with .bg-wrap ', {
                    backgroundPosition: '0% 100%',
                });


                gsap.to('.section.growth', {
                    scrollTrigger: {
                        trigger: '.section.growth',
                        start: 'top 0%',
                        end: "+=50%",
                        pin: true,
                        pinSpacing: true,
                        scroller: scroller,
                        pinType: "transform",
                        scrub: true,
                    },
                });
                gsap.to('.section.growth', {
                    scrollTrigger: {
                        trigger: '.section.growth .title-wrap',
                        start: 'top 50%',
                        end: "bottom+=80% 80%",
                        scrub: true,
                        onEnter: () => $('.section.growth .masking-wrap').removeClass('hide').addClass('show'),
                        onEnterBack: () => $('.section.growth .masking-wrap').removeClass('hide').addClass('show'),
                        onLeaveBack: () => $('.section.growth .masking-wrap').removeClass('show').addClass('hide'),
                    },
                });

                gsap.set(".section.innovation .content-list > li", {
                    yPercent: 50,
                });

                const yPercent_vh = (coef) => window.innerHeight * (coef / 100);
                const invTl = gsap.timeline({
                    scrollTrigger: {
                        trigger: ".section.innovation",
                        scrub: 3,
                        start: "-30% 100%",
                        ease: "none",
                    },
                })
                invTl.to(".section.innovation .content-list > li:nth-child(1)", {
                    yPercent: yPercent_vh(-8),
                    duration: 5,
                }, "innovItem");
                invTl.to(".section.innovation .content-list > li:nth-child(2)", {
                    yPercent: yPercent_vh(-8),
                    duration: 5,
                }, "innovItem+=1.2",);

                gsap.to('.section.inquiry', {
                    scrollTrigger: {
                        trigger: '.section.inquiry .content-wrap',
                        start: 'top 90%',
                        end: "bottom+=80% 80%",
                        scrub: true,
                        onEnter: () => $('.section.inquiry .masking-wrap').removeClass('hide').addClass('show'),
                        onLeave: () => $('.section.inquiry .masking-wrap').removeClass('show').addClass('hide'),
                        onEnterBack: () => $('.section.inquiry .masking-wrap').removeClass('hide').addClass('show'),
                        onLeaveBack: () => $('.section.inquiry .masking-wrap').removeClass('show').addClass('hide'),
                    },
                });

                const fade = document.querySelectorAll("[data-gsap='fade']");
                fade.forEach((item, index) => {
                    gsap.set(item, {
                        opacity: 0,
                    }),
                        gsap.to(item, {
                            opacity: 1,
                            duration: 1,
                            ease: "none",
                            scrollTrigger: {
                                trigger: item,
                                start: "top 90%",
                                toggleActions: 'play none none reverse',
                            },
                        });
                });

                const fadeUp = document.querySelectorAll("[data-gsap='fade-up']");
                fadeUp.forEach((item, index) => {
                    gsap.set(item, {
                        opacity: 0,
                        yPercent: 10,
                    }),
                        gsap.to(item, {
                            opacity: 1,
                            yPercent: 0,
                            duration: 1,
                            ease: "none",
                            scrollTrigger: {
                                trigger: item,
                                start: "top 75%",
                                toggleActions: 'play none none reverse',
                            },
                        });
                });

                //swiper - product
                var productSwiper = new Swiper("#productSwiper .swiper", {
                    autoHeight: false,
                    slidesPerView: 1,
                    spaceBetween: 10,
                    navigation: {
                        nextEl: '#productSwiper .swiper-button-next',
                        prevEl: '#productSwiper .swiper-button-prev',
                    },

                    breakpoints: {
                        "100": {
                            slidesPerView: 'auto',
                            centeredSlides: true,
                            autoHeight: false,
                        },
                        "768": {
                            slidesPerView: 'auto',
                            spaceBetween: 20,
                            centeredSlides: false,
                            autoHeight: false,
                        },
                    }
                });
            });
        </script>
</body>

</html>