<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #insertChart {
            width: 300px;
            height: 200px;
        }
    </style>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="../static/script/Static.js"></script>
</head>

<body>

    <div id="insertChart"></div>

</body>

</html>