<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fraud NEWS</title>
    
</head>
<body>
    <h1>사기 정보 검색</h1>
    <div>
        <input type="text" id="search1" placeholder="국가명 입력">
        <input type="text" id="search2" placeholder="뉴스 제목 입력">
        <input type="text" id="search3" placeholder="게시일자 입력">
        <button onclick="fetchFraudData()">검색</button>
    </div>
    <div id="results">결과가 여기에 표시됩니다.</div>

    <!-- Ensure the script is loaded at the end of the body to ensure all HTML elements are loaded -->
    <script src="../static/script/FraudScript.js"></script>
</body>
</html>