<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>추천 알고리즘</title>
    <link rel="icon" th:href="@{/images/common/favi.png}">
    <meta property="og:title" content="나이스투매치유">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image" content="http://ilmobility.co.kr/@resource/images/common/sns_share.png">
    <!-- 페이지가 소셜 미디어 플랫폼에 공유될 때 표시될 이미지의 URL을 지정 -->
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="400">
    <!--폰트 어썸-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link type="text/css" rel="stylesheet" th:href="@{/css/cosine.css}">
    <script th:src="@{/js/lib/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/nice_dev.js}"></script>
    <!--모달창을 위한 페이지 5버전-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        $(function () {


            $("#continentSelect").on('change', updateCountryList);
            $("#searchBtn").on('click', cosineSimilarity);


        });
        //나라선택 옵션 

        function updateCountryList() {
            // 나라 선택 변수 들
            const continentCountries = {

                "Asia": ["CN", "KR", "IN", "MY", "JP", "TH", "HK", "SG", "TW", "AE", "IL", "BH", "QA", "VN", "SA", "ID", "PH", "PK", "LK", "UZ"],
                "Europe": ["DE", "GB", "FR", "SE", "AT", "DK", "IT", "BE", "NL", "SI", "HU", "CH", "CZ", "RO", "TR", "RS", "PL", "UA", "SK", "FI", "BG", "EE", "GR", "NO", "PT", "LV", "HR", "GE", "BY", "LT", "MT", "BA", "ES"],
                "NorthAmerica": ["US", "CA", "MX", "GT", "CR", "SV", "JM", "NI", "DO", "VG", "PA"],
                "SouthAmerica": ["BR", "CO", "AR", "CL", "VE", "EC", "TT"],
                "Africa": ["ZA", "NG", "EG", "MA", "KE"],
                "Oceania": ["NZ", "AU"]
            };

            const countryNames = {
                "CN": "China", "KR": "South Korea", "IN": "India", "MY": "Malaysia", "JP": "Japan", "TH": "Thailand", "HK": "Hong Kong", "SG": "Singapore", "TW": "Taiwan",
                "AE": "United Arab Emirates", "IL": "Israel", "BH": "Bahrain", "QA": "Qatar", "VN": "Vietnam", "SA": "Saudi Arabia", "ID": "Indonesia", "PH": "Philippines", "PK": "Pakistan",
                "LK": "Sri Lanka", "UZ": "Uzbekistan", "DE": "Germany", "GB": "United Kingdom", "FR": "France", "SE": "Sweden", "AT": "Austria", "DK": "Denmark",
                "IT": "Italy", "BE": "Belgium", "NL": "Netherlands", "SI": "Slovenia", "HU": "Hungary", "CH": "Switzerland", "CZ": "Czech Republic", "RO": "Romania",
                "TR": "Turkey", "RS": "Serbia", "PL": "Poland", "UA": "Ukraine", "SK": "Slovakia", "FI": "Finland", "BG": "Bulgaria", "EE": "Estonia", "GR": "Greece",
                "NO": "Norway", "PT": "Portugal", "LV": "Latvia", "HR": "Croatia", "GE": "Georgia", "BY": "Belarus", "LT": "Lithuania", "MT": "Malta",
                "BA": "Bosnia and Herzegovina", "ES": "Spain", "US": "United States", "CA": "Canada", "MX": "Mexico", "GT": "Guatemala", "CR": "Costa Rica", "SV": "El Salvador",
                "JM": "Jamaica", "NI": "Nicaragua", "DO": "Dominican Republic", "VG": "British Virgin Islands", "PA": "Panama", "BR": "Brazil", "CO": "Colombia", "AR": "Argentina",
                "CL": "Chile", "VE": "Venezuela", "EC": "Ecuador", "TT": "Trinidad and Tobago", "ZA": "South Africa", "NG": "Nigeria", "EG": "Egypt", "MA": "Morocco", "KE": "Kenya",
                "NZ": "New Zealand", "AU": "Australia"

            };
            function getCountryName(code) {
                return countryNames[code] || code;  // 국가 코드에 해당하는 이름이 없다면 코드를 그대로 반환
            }

            var continent = $("#continentSelect").val(); // 선택된 대륙 가져오기
            var countrySelect = $("#countrySelect"); // 국가를 표시할 select 박스
            countrySelect.html('<option value="">Select Country</option>'); // 기본 옵션 추가
            if (continent) { // 대륙이 선택된 경우
                continentCountries[continent].forEach(function (code) { // 선택된 대륙에 속하는 각 국가에 대해 반복
                    var option = $("<option></option>").val(code).text(getCountryName(code)); // 새 option 요소 생성
                    countrySelect.append(option); // select 박스에 option 추가
                });
            }
        }

        function cosineSimilarity() {
            let inputKeyword = $("#search").val();
            let nation = ""; // 국가
            if ($("#continentSelect").val() == "all") {
                nation = "all";
            }

            else nation = $("#countrySelect").val();


            $("#emailinputKeyword").val(inputKeyword);
            $("#emailnation").val(nation);



            let sendData = {
                "inputKeyword": inputKeyword,
                "nation": nation
            }
            $.ajax({
                url: 'predict'
                , method: 'post'
                , async: false
                , data: sendData
                , success: function (resp) {

                    if (resp.length == 0) {
                        $("#cosine-list").html("");
                        $("#noResult").html("검색된 결과가 없습니다.");
                    }
                    else {

                        let receivedData = '';
                        receivedData += `

                <tr>
        			<th>기업명</th>
        			<th>국가</th>
        			<th>이메일</th>
                    <th>이메일 발송</th>
                    <th>찜</th>
                    <th>상세보기</th>
        	    </tr>
                    `;

                        $.each(resp, function (index, item) {
                            receivedData += `
                        <tr>
                            <td>${item.CMP_NM}</td>
                            <td>${item.NAT_CD}</td>
                            <td>${item.EML}</td>
                            <td><i type="button" class="email fa-regular fa-envelope fa-lg" data-bs-toggle="modal" data-bs-target="#myModal" cmpEmail="${item.EML}"></i></td>
                            <td><i type="button" class="plusMyCmp fa-solid fa-star" data-bs-toggle="modal" attr-dunsNo=${item.DUNS_NO}></i></td>
                            <td><i type="button" class="DetailBtn fa-solid fa-magnifying-glass fa-lg" data-bs-toggle="modal" data-bs-target="#Details" attr-dunsNo=${item.DUNS_NO}></i></td>
                        </tr>`;
                        });//each 
                        $("#noResult").html("");
                        $("#cosine-list").html(receivedData);
                        $(".email").on('click', mgl);
                        $(".plusMyCmp").on('click', plusMyCmp);
                        $(".DetailBtn").on('click', Details);

                        // 마이페이지에 상세보기 추가 !!!!!!!!!!!!!!!!!!! 모달창으로 추가하는거 만들기 

                    }
                }
            })

        }

        function mgl() { // 모달창에 이메일 꽂아 넣기 !
            let email = $(this).attr("cmpEmail");
            $("#cmpaddress").val(email);
        }
        // 관심 바이어 추가 
        function plusMyCmp() {
            let dunsNo = $(this).attr("attr-dunsno"); // 고유 던스넘버
            let userNum = $("#userNum").val(); // 사용자의 고유 넘버 넣어주기 ~~


            $.ajax({
                url: "/user/favCmpInsert"
                , method: 'GET'
                , data: { "dunsNo": dunsNo, "userNum": userNum }
                , success: function (resp) {
                    // 이미 존재하는 경우 - 경고창
                    if (resp == true) {
                        alert("관심 바이어에 추가되었습니다.")

                    } else {
                        alert("관심 바이어에 이미 추가된 항목입니다.");
                    }

                }
            })

        }
        // 상세보기 모달창 페이지에 정보 꽂아서 넣기
        function Details() {
            let dunsNo = $(this).attr("attr-dunsno"); // 던스넘버
            $.ajax({
                url: "/cmpSelect"
                , method: 'GET'
                , data: { "dunsNo": dunsNo }
                , success: function (resp) {
                    // 정보 가지고 오기
                    $("#cmpName").html(resp.cmpName);
                    $("#cmpDunsNo").html(resp.cmpDunsNo);
                    $("#cmpSicCode").html(resp.cmpSicCode);
                    $("#cmpNatCd").html(resp.cmpNatCd);
                    $("#cmpNatEng").html(resp.cmpNatEng);
                    $("#cmpAddress").html(resp.cmpAddress);
                    $("#cmpEmp").html(resp.cmpEmp);
                    $("#cmpMkt").html(resp.cmpMkt);
                    $("#cmpSales").html(resp.cmpSales);
                    $("#cmpUrl").html(resp.cmpUrl);
                    $("#cmpUrl").attr("href", resp.cmpUrl);

                }
            })

        }//function Details --end

        //아이콘 이벤트 리스너 추가
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll('.fa').forEach(function (icon) {
                icon.addEventListener('click', function () {
                    // 'active' 클래스 토글
                    this.classList.toggle('active');
                });
            });
        });
    </script>

</head>

<body>
    <div class="skip-nav"> <a href="#content">본문 바로가기</a> </div>
    <div id="wrap" class="wrap">
        <header id="header" class="header">
            <div class="header-inner">
                <h1 class="logo">
                    <a href="/">
                        <span class="blind">NICE TO MATCH YOU</span>
                    </a>
                </h1>
                <nav id="nav" class="nav">
                    <div class="nav-wrap">
                        <ul class="gnb-list">
                            <li>
                                <a href="" class="has-depth">
                                    <span>ABOUT</span>
                                </a>
                                <ul>
                                    <li>
                                        <a th:href="@{/about}"><!--페이지 나중에 삽입-->
                                            <span>NICE TO MATCH YOU</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="" class="has-depth">
                                    <span>SERVICE</span>
                                </a>
                                <ul>
                                    <li>
                                        <a th:href="@{/showOvsNews}">
                                            <span>News</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/showFraud}">
                                            <span>Trade fraud</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/globeindex}">
                                            <span>Trade statistics</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/rate}">
                                            <span>Exchange Rate</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a th:href="@{/search}">
                                    <span>MATCH</span>
                                </a>
                            </li>
                            <li>
                                <a href=""><!--수정 필요-->
                                    <span>NOTICE</span>
                                </a>
                            </li>
                            <li sec:authorize="isAnonymous()">
                                <a th:href="@{/user/login}">
                                    <span>LOGIN</span>
                                </a>
                            </li>
                            <li sec:authorize="isAuthenticated()">
                                <a th:href="@{/user/mypage}" class="has-depth">
                                    <span>MY PAGE</span>
                                </a>
                                <ul>
                                    <li>
                                        <a th:href="@{/user/logout}">
                                            <span>LOGOUT</span>
                                        </a>
                                    </li>

                                </ul>
                            </li>

                        </ul>
                    </div> <!-- // .nav-wrap -->
                </nav>
                <div class="btns">
                    <button type="button" class="btn open-nav" id="openMe">
                        <span class="blind">메뉴 열기</span>
                    </button>
                    <button type="button" class="btn close-nav">
                        <span class="blind">메뉴 열기</span>
                    </button>
                </div>
                <div class="nav-bg"></div>
            </div>
        </header>

        <div id="scroller" class="scroller" data-scrollbar>
            <div id="container" class="container">
                <div id="content" class="main">

                    <!-- cosine 시작 -->
                    <h2>MATCH</h2>
                    <!-- 로그인 유저의 고유 넘버값 넣어주는거 있지말기-->
                    <!-- <input type="hidden" id="loginId" th:value="${#authentication.name}"> 로그인한 유저의 -->
                    <input type="hidden" id="userNum" value="1"><!--우선은 임의로 만들어봄 -->

                    <form th:action="@{/predict}" method="POST">
                        <div class="search">
                            <input type="text" placeholder="키워드 입력" id="search" name="inputKeyword"
                                th:value="${inputKeyword}">
                            <img type=button
                                src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"
                                id="searchBtn">
                        </div>
                    </form>
                    <div class="dropdown-container">
                        <select id="continentSelect" onchange="updateCountryList()">
                            <option value="all">모든 국가</option>
                            <option value="Asia">Asia</option>
                            <option value="Europe">Europe</option>
                            <option value="NorthAmerica">North America</option>
                            <option value="SouthAmerica">South America</option>
                            <option value="Africa">Africa</option>
                            <option value="Oceania">Oceania</option>
                        </select>

                        <select id="countrySelect">
                            <option th:value="${nation}">Select Country</option>
                        </select>
                        <!-- <input type="button" value="검색" id="searchBtn"> -->
                    </div>
                    <span id="noResult"></span>
                    <table id="cosine-list"> <!--추천 알고리즘-->
                    </table>
                </div>
            </div>
            <footer id="footer" class="footer">
                <div class="footer-inner">
                    <div class="cont site">
                        <div class="menu">
                            <a href="/privacy.html">개인정보처리방침</a>
                            <a href="/terms.html">이용약관</a>
                        </div>
                        <div class="select-box">
                            <select class="select family" title="나이스투매치유">
                                <option value disabled selected>Family Site</option>
                                <option value="https://g2b-rating.nicednb.com/index.html#MENUCM0100">NICE D&B</option>
                                <option value="http://www.ec21.co.kr/">EC21</option>
                                <option value="https://www.valuelinku.com/">ValueLinkeU</option>
                                <option value="https://www.hanwhacorp.co.kr/">HANWHA</option>
                                <option value="https://www.itronics.co.kr">PASSWIN</option>
                            </select>
                        </div>
                    </div>
                    <div class="cont contact">
                        <address>
                            <span>서울특별시 강남구 영동대로 513 COEX 4층 무역아카데미</span>
                            <span>대표자&nbsp;<em>주진명</em></span>
                            <span>TEL.<em>010-2432-2450</em></span>
                        </address>
                        <p class="copyright">Copyright 2024 NICETOMATCHYOU Inc. All Rights Reserved.</p>
                    </div>
                </div>
            </footer>
        </div>

    </div><!-- // #wrap -->
    <!-- 이메일 모달창  -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">이메일 발송</h4>
                    <button type="button" class="closeBtn" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <form th:action="@{/mail/mailsend}" method="POST">
                    <!--데이터 가지고 가는 부분-->
                    <input type="hidden" name="inputKeyword" value="" id="emailinputKeyword">
                    <input type="hidden" name="nation" value="" id="emailnation">

                    <div class="modal-body">
                        <!--수정해야할 부분입니다~~~~~~~~-->
                        <input type="hidden" name="userNum" value="1"><!--우선은 임의로 만들어봄 -->
                        <input id="cmpaddress" name="receiver" placeholder="이메일 주소" class="form-control" value=""> <br>
                        <input name="emailSubject" placeholder="제목" class="form-control"> <br>
                        <textarea name="emailContent" placeholder="메일 내용을 입력해주세요." cols="60" rows="20"
                            class="form-control"></textarea>
                    </div>

                    <!-- Modal footer -->

                    <div class="modal-footer">
                        <button type="submit" class="btn " style="background-color: blue; color: white;"
                            data-bs-dismiss="modal">발송</button>
                        <button type="button" class="closeBtn" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>

            </div>
        </div>
    </div> <!--이메일 모달창 끝-->
    <!--상세페이지 모달창-->
    <div class="modal" id="Details">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="cmpName"></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->

                <div class="modal-body">
                    <table>
                        <tr>
                            <td>D-U-N-S® Number</td>
                            <td id="cmpDunsNo"></td>
                        </tr>
                        <tr>
                            <td>Primary SIC Code</td>
                            <td id="cmpSicCode"></td>
                        </tr>
                        <tr>
                            <td>국가코드</td>
                            <td id="cmpNatCd"></td>
                        </tr>
                        <tr>
                            <td>국가</td>
                            <td id="cmpNatEng"></td>
                        </tr>
                        <tr>
                            <td>주소</td>
                            <td id="cmpAddress"></td>
                        </tr>
                        <tr>
                            <td>Employees(All site)</td>
                            <td id="cmpEmp"></td>
                        </tr>
                        <tr>
                            <td>마케팅 등급</td>
                            <td id="cmpMkt"></td>
                        </tr>
                        <tr>
                            <td>Annual Sales</td>
                            <td id="cmpSales"></td>
                        </tr>
                        <tr>
                            <td>홈페이지</td>
                            <td><a href="" id="cmpUrl"></a></td>
                        </tr>
                    </table>

                </div>


                <div class="modal-footer">
                    <button type="button" class="closeBtn" data-bs-dismiss="modal">Close</button>
                </div>


            </div>
        </div>
    </div>
    <!-- cosine 끝 -->


    <script th:src="@{/js/lib/gsap.min.js}"></script>
    <script th:src="@{/js/lib/ScrollTrigger.min.js}"></script>
    <script th:src="@{/js/lib/smooth-scrollbar.js}"></script>
    <script th:src="@{/js/lib/aos.js}"></script>
    <script th:src="@{/js/lib/swiper-bundle.js}"></script>
    <script>

        jQuery(function () {

            setTimeout(function () {
                $('.intro .masking-wrap').addClass('show');
            }, 150);

            gsap.registerPlugin(ScrollTrigger);

            // key visual 
            var esgTl = gsap.defaults({
                ease: "power1.inOut",
                duration: 2
            });
            var kv_intro = gsap.timeline();
            //kv_inno_tl();



            ScrollTrigger.matchMedia({
                "(min-width: 961px)": function () {
                    esgTl = gsap.timeline({
                        scrollTrigger: {
                            trigger: "#pinSec",
                            start: 'top top',
                            end: '+=300%',
                            pin: true,
                            scrub: 5,
                            markers: false,
                            // onEnter: () => {
                            // 	$('.esg').css('z-index',"1")
                            // },
                            // onLeave: () => {
                            // 	$('.esg').css('z-index',"-1")
                            // },
                        },
                    });
                    esgTl.addLabel("innoBlindIn", "+=5");
                    esgTl.to($(".section.esg .left"), {
                        yPercent: 25,
                        duration: 10,
                        ease: Power1.in,
                    }, "innoBlindIn");
                    esgTl.to($(".section.esg .right"), {
                        yPercent: -25,
                        duration: 10,
                        ease: Power1.in
                    }, "innoBlindIn");

                    esgTl.addLabel("innoMenuSlide1", "+=5");
                    esgTl.to($(".section.esg .left"), {
                        yPercent: 50,
                        duration: 10
                    }, "innoMenuSlide1");
                    esgTl.to($(".section.esg .right"), {
                        yPercent: -50,
                        duration: 10
                    }, "innoMenuSlide1");

                    esgTl.addLabel("innoMenuSlide2", "+=5");
                    esgTl.to($(".section.esg .left"), {
                        yPercent: 75,
                        duration: 10
                    }, "innoMenuSlide2");
                    esgTl.to($(".section.esg .right"), {
                        yPercent: -75,
                        duration: 10
                    }, "innoMenuSlide2");

                    esgTl.addLabel("innoMenuSlide3", "+=5");
                    esgTl.to($(".section.esg .left"), {
                        yPercent: 100,
                        duration: 10
                    }, "innoMenuSlide3");
                    esgTl.to($(".section.esg .right"), {
                        yPercent: -100,
                        duration: 10
                    }, "innoMenuSlide3");
                    esgTl.to($(".section.esg .left"), {
                        yPercent: 100,
                        duration: 10
                    }, "+=5");
                    esgTl.to($(".section.esg .right"), {
                        yPercent: -100,
                        duration: 10
                    }, "+=5");

                    gsap.to('.section.make', {
                        scrollTrigger: {
                            trigger: '.section.make',
                            start: 'top 0%',
                            end: "+=50%",
                            pin: true,
                            pinSpacing: true,
                            scroller: scroller,
                            pinType: "transform",
                            scrub: true,
                        },
                    });
                },
                "(max-width: 960px)": function () {
                    const fade = document.querySelectorAll(".section.esg .left .item");
                    fade.forEach((item, index) => {
                        gsap.set(item, {
                            opacity: 0,
                            yPercent: 10,
                        }),
                            gsap.to(item, {
                                opacity: 1,
                                yPercent: 0,
                                duration: 1,
                                ease: "none",
                                scrollTrigger: {
                                    trigger: item,
                                    start: "top 75%",
                                    toggleActions: 'play none none reverse',
                                },
                            });
                    });
                },
                "all": function () {
                    gsap.to('.section.make', {
                        scrollTrigger: {
                            trigger: '.section.make .title-wrap',
                            start: 'top 50%',
                            end: "bottom+=80% 80%",
                            scrub: true,
                            onEnter: () => $('.section.make .masking-wrap').removeClass('hide').addClass('show'),
                            onEnterBack: () => $('.section.make .masking-wrap').removeClass('hide').addClass('show'),
                            onLeaveBack: () => $('.section.make .masking-wrap').removeClass('show').addClass('hide'),
                        },
                    });

                    const fade = document.querySelectorAll("[data-gsap='fade']");
                    fade.forEach((item, index) => {
                        gsap.set(item, {
                            opacity: 0,
                        }),
                            gsap.to(item, {
                                opacity: 1,
                                duration: 1,
                                ease: "none",
                                scrollTrigger: {
                                    trigger: item,
                                    start: "top 90%",
                                    toggleActions: 'play none none reverse',
                                },
                            });
                    });

                    const fadeUp = document.querySelectorAll("div:not(.title-wrap)[data-gsap='fade-up']");
                    fadeUp.forEach((item, index) => {
                        gsap.set(item, {
                            opacity: 0,
                            yPercent: 10,
                        }),
                            gsap.to(item, {
                                opacity: 1,
                                yPercent: 0,
                                duration: 1,
                                ease: "none",
                                scrollTrigger: {
                                    trigger: item,
                                    start: "top 75%",
                                    toggleActions: 'play none none reverse',
                                },
                            });
                    });

                    const fadeUpTitle = document.querySelectorAll(".title-wrap[data-gsap='fade-up']");
                    fadeUpTitle.forEach((item, index) => {
                        gsap.set(item, {
                            opacity: 0,
                            yPercent: 80,
                        }),
                            gsap.to(item, {
                                opacity: 1,
                                yPercent: 0,
                                duration: 1,
                                ease: "none",
                                scrollTrigger: {
                                    trigger: item,
                                    start: "top 90%",
                                    toggleActions: 'play none none reverse',
                                },
                            });
                    });
                },
            });

            //swiper - news
            var newsSwiper = new Swiper("#newsSwiper .swiper", {
                autoHeight: false,
                slidesPerView: 1,
                spaceBetween: 10,
                // pagination: {
                // 	el: "#newsSwiper .swiper-pagination",
                // 	clickable: true
                // },
                navigation: {
                    nextEl: '#newsSwiper .swiper-button-next',
                    prevEl: '#newsSwiper .swiper-button-prev',
                },
                breakpoints: {
                    "768": {
                        slidesPerView: 2,
                        spaceBetween: 20,
                        autoHeight: false,
                    },
                    "961": {
                        slidesPerView: 3,
                        spaceBetween: 20,
                        autoHeight: false,
                    },
                }
            });

            const breakpoint = window.matchMedia('(max-width:768px)');
            let invSwiper;

            const breakpointChecker = function () {
                if (breakpoint.matches === true) {
                    if (invSwiper !== undefined) invSwiper.destroy(true, true);
                } else if (breakpoint.matches === false) {
                    return enableSwiper();
                }
            };

            const enableSwiper = function () {
                invSwiper = new Swiper('#invSwiper', {
                    slidesPerView: "auto",
                    spaceBetween: 0,
                    loop: true,
                    freeMode: true,
                    speed: 2500,
                    centeredSlides: true,
                    allowTouchMove: false,
                    autoplay: {
                        delay: 0,
                        disableOnInteraction: true,
                    },
                    scrollbar: {
                        el: ".swiper-scrollbar",
                    },
                });
            };

            breakpoint.addListener(breakpointChecker);
            breakpointChecker();

            var windowWidth = window.innerWidth;
            if (windowWidth > 961) {
                $('.main .section.changer .content-list > li').mouseenter(function () {
                    $(this).addClass('hover').siblings().removeClass('hover')
                });
                $('.main .section.changer .content-list > li').mouseleave(function () {
                    $('.main .section.changer .content-list > li').removeClass('hover')
                });
                $('.main .section.product .data-list > li').mouseenter(function () {
                    $(this).addClass('hover').siblings().removeClass('hover')
                });
                $('.main .section.product .data-list > li').mouseleave(function () {
                    $('.main .section.product .data-list > li').removeClass('hover')
                });
            } else {
                $('.main .section.changer .content-list > li,.main .section.product .data-list > li').eq(0).addClass('hover');
                $('.main .section.changer .content-list > li > a, .main .section.product .data-list > li > a').on('click', function (e) {
                    e.stopImmediatePropagation();
                    e.preventDefault();

                    var moTarget = $(this).closest('li'),
                        realTarget = $(this).attr('href');

                    if ($(moTarget).hasClass('hover')) {
                        location.href = realTarget;
                    } else {
                        $(moTarget).addClass('hover');
                        $(moTarget).siblings('li').removeClass('hover');
                    }
                });
            }


        });
    </script>
</body>

</html>