<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>환율</title>
    <link rel="icon" th:href="@{/images/common/favi.png}">
    <meta property="og:title" content="나이스투매치유">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image" content="http://ilmobility.co.kr/@resource/images/common/sns_share.png">
    <!-- 페이지가 소셜 미디어 플랫폼에 공유될 때 표시될 이미지의 URL을 지정 -->
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="400">
    <link type="text/css" rel="stylesheet" th:href="@{/css/nice_dev.css}">
    <script th:src="@{/js/lib/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/nice_dev.js}"></script>
    <style>
        .content {
            margin-top: 200px;
            margin-bottom: 200px;

        }

        .crateCal {
            width: 68%;
            margin: 0 auto;
            ;
        }
    </style>
    <script>
        $(function () {
            //init(); -- 환률 
            $("#exchangeFrom").change(showrate);
            $("#exchangeTo").change(showrate);
            $('#amount').change(showrate);




        });
        function init() {
            $.ajax({
                url: '/csv/april_exchangeRate.csv',
                dataType: 'text'
            }).done(successFunction);

        }
        function successFunction(data) {
            alert("하이");
            let allRows = data.split(/\r?\n|\r/);//     개행을 기준으로 문자열을 가지고옴 -  모든 행
            //let allRows = data.split(/\r?\n|\r/);
            let table = "<table>";

            for (let singleRow = 0; singleRow < allRows.length; singleRow++) {
                if (singleRow === 0) {
                    table += `<thead>`;
                    table += `<tr>`;
                } else {
                    table += `<tr>`;
                }

                let rowCells = allRows[singleRow].split(",");
                for (let rowCell = 0; rowCell < rowCells.length; rowCell++) {
                    if (singleRow === 0) {
                        table += `<th>`;
                        table += rowCells[rowCell];
                        table += `</th>`;
                    } else {
                        table += `<td>`;
                        table += rowCells[rowCell];
                        table += `</td>`;
                    }
                }

                if (singleRow === 0) {
                    table += `</tr>`;
                    table += `</thead>`;
                    table += `<tbody>`;
                } else {
                    table += `</tr>`;
                }
            }

            table += '</tbody>';
            table += `</table>`;
            //alert(table);
            //$("#monthRate").append(table);
            //$("monthRate").prepend(table);
            $(".monthRate").after(table);


        }


        function showrate() {
            let endpoint = 'convert';
            let access_key = 'dfb151f54a6885a76957931b4e3c05dd';  // can't reveal API key
            let from = $("#exchangeFrom").val();
            let to = $("#exchangeTo").val();
            let amount = $('#amount').val();
            $.ajax({
                url: 'http://apilayer.net/api/' + endpoint + '?access_key=' + access_key + '&from=' + from + '&to=' + to + '&amount=' + amount,
                dataType: 'jsonp',
                success: function (json) {
                    $("#rate-result").html(json.result)

                }
            });
        }//
        function showAll() {
            let endpoint = 'historical';
            let access_key = 'dfb151f54a6885a76957931b4e3c05dd';

            $.ajax({
                url: 'http://apilayer.net/api/' + endpoint + '?access_key=' + access_key + '&date=' + '2024-03-02' + '&source' + 'KRW',
                dataType: 'jsonp',
                success: function (json) {
                    let result = '';

                    for (let currency in json.quotes) {

                        if (json.quotes.hasOwnProperty(currency)) {
                            var exchangeRate = json.quotes[currency];
                            let nation = currency.substring(3);

                            result += nation + `<br>`;
                        }

                    }

                    $("#all-result").html(result);

                }
            });

        }





    </script>
</head>

<body>
    <div class="skip-nav"> <a href="#content">본문 바로가기</a> </div>
    <div id="wrap" class="wrap">
        <header id="header" class="header">
            <div class="header-inner">
                <h1 class="logo">
                    <a href="/">
                        <span class="blind">NICE TO MATCH YOU</span>
                    </a>
                </h1>
                <nav id="nav" class="nav">
                    <div class="nav-wrap">
                        <ul class="gnb-list">
                            <li>
                                <a href="" class="has-depth">
                                    <span>ABOUT</span>
                                </a>
                                <ul>
                                    <li>
                                        <a th:href="@{/about}"><!--페이지 나중에 삽입-->
                                            <span>NICE TO MATCH YOU</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="" class="has-depth">
                                    <span>SERVICE</span>
                                </a>
                                <ul>
                                    <li>
                                        <a th:href="@{/showOvsNews}">
                                            <span>NEWS</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/showFraud}">
                                            <span>무역 사기사례</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/rate}">
                                            <span>Exchange Rate</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a th:href="@{/search}">
                                    <span>MATCH</span>
                                </a>
                            </li>
                            <li>
                                <a href=""><!--수정 필요-->
                                    <span>INFO</span>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/user/login}">
                                    <span>Login</span>
                                </a>
                            </li>

                        </ul>
                    </div> <!-- // .nav-wrap -->
                </nav>
                <div class="btns">
                    <button type="button" class="btn open-nav" id="openMe">
                        <span class="blind">메뉴 열기</span>
                    </button>
                    <button type="button" class="btn close-nav">
                        <span class="blind">메뉴 열기</span>
                    </button>
                </div>
                <div class="nav-bg"></div>
            </div>
        </header>
        <div id="scroller" class="scroller" data-scrollbar>
            <div class="content">
                <div class="crateCal">
                    <!-- 환율 form 변경-->
                    <h2>환율</h2>
                    <div>
                        나라선택
                        <select name="exchageRate" id="exchangeFrom">
                            <option value="AED">아랍에미리트</option>
                            <option value="AFN">아프가니스탄</option>
                            <option value="ALL">알바니아</option>
                            <option value="AMD">아르메니아</option>
                            <option value="ANG">네덜란드 안틸레스</option>
                            <option value="AOA">앙골라</option>
                            <option value="ARS">아르헨티나</option>
                            <option value="AUD">호주</option>
                            <option value="AWG">아루바</option>
                            <option value="AZN">아제르바이잔</option>
                            <option value="BAM">보스니아 헤르체고비나</option>
                            <option value="BBD">바베이도스</option>
                            <option value="BDT">방글라데시</option>
                            <option value="BGN">불가리아</option>
                            <option value="BHD">바레인</option>
                            <option value="BIF">부룬디</option>
                            <option value="BMD">버뮤다</option>
                            <option value="BND">브루나이</option>
                            <option value="BOB">볼리비아</option>
                            <option value="BRL">브라질</option>
                            <option value="BSD">바하마</option>
                            <option value="BTC">비트코인</option>
                            <option value="BTN">부탄</option>
                            <option value="BWP">보츠와나</option>
                            <option value="BYN">벨라루스</option>
                            <option value="BYR">벨라루스</option>
                            <option value="BZD">벨리즈</option>
                            <option value="CAD">캐나다</option>
                            <option value="CDF">콩고 민주 공화국</option>
                            <option value="CHF">스위스</option>
                            <option value="CLF">칠레</option>
                            <option value="CLP">칠레</option>
                            <option value="CNY">중국</option>
                            <option value="COP">콜롬비아</option>
                            <option value="CRC">코스타리카</option>
                            <option value="CUC">쿠바</option>
                            <option value="CUP">쿠바</option>
                            <option value="CVE">카보베르데</option>
                            <option value="CZK">체코</option>
                            <option value="DJF">지부티</option>
                            <option value="DKK">덴마크</option>
                            <option value="DOP">도미니카 공화국</option>
                            <option value="DZD">알제리</option>
                            <option value="EGP">이집트</option>
                            <option value="ERN">에리트레아</option>
                            <option value="ETB">에티오피아</option>
                            <option value="EUR">유럽연합</option>
                            <option value="FJD">피지</option>
                            <option value="FKP">포클랜드 제도</option>
                            <option value="GBP">영국</option>
                            <option value="GEL">조지아</option>
                            <option value="GGP">건지</option>
                            <option value="GHS">가나</option>
                            <option value="GIP">지브롤터</option>
                            <option value="GMD">감비아</option>
                            <option value="GNF">기니</option>
                            <option value="GTQ">과테말라</option>
                            <option value="GYD">가이아나</option>
                            <option value="HKD">홍콩</option>
                            <option value="HNL">온두라스</option>
                            <option value="HRK">크로아티아</option>
                            <option value="HTG">아이티</option>
                            <option value="HUF">헝가리</option>
                            <option value="IDR">인도네시아</option>
                            <option value="ILS">이스라엘</option>
                            <option value="IMP">맨 섬</option>
                            <option value="INR">인도</option>
                            <option value="IQD">이라크</option>
                            <option value="IRR">이란</option>
                            <option value="ISK">아이슬란드</option>
                            <option value="JEP">저지</option>
                            <option value="JMD">자메이카</option>
                            <option value="JOD">요르단</option>
                            <option value="JPY">일본</option>
                            <option value="KES">케냐</option>
                            <option value="KGS">키르기스스탄</option>
                            <option value="KHR">캄보디아</option>
                            <option value="KMF">코모로</option>
                            <option value="KPW">북한</option>
                            <option value="KRW">대한민국</option>
                            <option value="KWD">쿠웨이트</option>
                            <option value="KYD">케이맨 제도</option>
                            <option value="KZT">카자흐스탄</option>
                            <option value="LAK">라오스</option>
                            <option value="LBP">레바논</option>
                            <option value="LKR">스리랑카</option>
                            <option value="LRD">리베리아</option>
                            <option value="LSL">레소토</option>
                            <option value="LTL">리투아니아</option>
                            <option value="LVL">라트비아</option>
                            <option value="LYD">리비아</option>
                            <option value="MAD">모로코</option>
                            <option value="MDL">몰도바</option>
                            <option value="MGA">마다가스카르</option>
                            <option value="MKD">북마케도니아</option>
                            <option value="MMK">미얀마</option>
                            <option value="MNT">몽골</option>
                            <option value="MOP">마카오</option>
                            <option value="MRU">모리타니</option>
                            <option value="MUR">모리셔스</option>
                            <option value="MVR">몰디브</option>
                            <option value="MWK">말라위</option>
                            <option value="MXN">멕시코</option>
                            <option value="MYR">말레이시아</option>
                            <option value="MZN">모잠비크</option>
                            <option value="NAD">나미비아</option>
                            <option value="NGN">나이지리아</option>
                            <option value="NIO">니카라과</option>
                            <option value="NOK">노르웨이</option>
                            <option value="NPR">네팔</option>
                            <option value="NZD">뉴질랜드</option>
                            <option value="OMR">오만</option>
                            <option value="PAB">파나마</option>
                            <option value="PEN">페루</option>
                            <option value="PGK">파푸아뉴기니</option>
                            <option value="PHP">필리핀</option>
                            <option value="PKR">파키스탄</option>
                            <option value="PLN">폴란드</option>
                            <option value="PYG">파라과이</option>
                            <option value="QAR">카타르</option>
                            <option value="RON">루마니아</option>
                            <option value="RSD">세르비아</option>
                            <option value="RUB">러시아</option>
                            <option value="RWF">르완다</option>
                            <option value="SAR">사우디아라비아</option>
                            <option value="SBD">솔로몬 제도</option>
                            <option value="SCR">세이셸</option>
                            <option value="SDG">수단</option>
                            <option value="SEK">스웨덴</option>
                            <option value="SGD">싱가포르</option>
                            <option value="SHP">세인트헬레나</option>
                            <option value="SLE">시에라리온</option>
                            <option value="SLL">시에라리온</option>
                            <option value="SOS">소말리아</option>
                            <option value="SRD">수리남</option>
                            <option value="STD">상투메 프린시페</option>
                            <option value="SVC">엘살바도르</option>
                            <option value="SYP">시리아</option>
                            <option value="SZL">스와질란드</option>
                            <option value="THB">태국</option>
                            <option value="TJS">타지키스탄</option>
                            <option value="TMT">투르크메니스탄</option>
                            <option value="TND">튀니지</option>
                            <option value="TOP">통가</option>
                            <option value="TRY">터키</option>
                            <option value="TTD">트리니다드 토바고</option>
                            <option value="TWD">대만</option>
                            <option value="TZS">탄자니아</option>
                            <option value="UAH">우크라이나</option>
                            <option value="UGX">우간다</option>
                            <option value="UYU">우루과이</option>
                            <option value="UZS">우즈베키스탄</option>
                            <option value="VEF">베네수엘라</option>
                            <option value="VES">베네수엘라</option>
                            <option value="VND">베트남</option>
                            <option value="VUV">바누아</option>
                            <option value="WST">사모아</option>
                            <option value="YER">예멘</option>
                            <option value="ZAR">남아프리카 공화국</option>
                            <option value="ZMW">잠비아</option>
                        </select>
                        <input type="text" placeholder="금액을 입력하세요" id="amount">
                    </div>
                    &nbsp;
                    &nbsp;
                    <div>

                    </div>

                    <div>
                        나라선택
                        <select name="exchageRate" id="exchangeTo">
                            <option value="AED">아랍에미리트</option>
                            <option value="AFN">아프가니스탄</option>
                            <option value="ALL">알바니아</option>
                            <option value="AMD">아르메니아</option>
                            <option value="ANG">네덜란드 안틸레스</option>
                            <option value="AOA">앙골라</option>
                            <option value="ARS">아르헨티나</option>
                            <option value="AUD">호주</option>
                            <option value="AWG">아루바</option>
                            <option value="AZN">아제르바이잔</option>
                            <option value="BAM">보스니아 헤르체고비나</option>
                            <option value="BBD">바베이도스</option>
                            <option value="BDT">방글라데시</option>
                            <option value="BGN">불가리아</option>
                            <option value="BHD">바레인</option>
                            <option value="BIF">부룬디</option>
                            <option value="BMD">버뮤다</option>
                            <option value="BND">브루나이</option>
                            <option value="BOB">볼리비아</option>
                            <option value="BRL">브라질</option>
                            <option value="BSD">바하마</option>
                            <option value="BTC">비트코인</option>
                            <option value="BTN">부탄</option>
                            <option value="BWP">보츠와나</option>
                            <option value="BYN">벨라루스</option>
                            <option value="BYR">벨라루스</option>
                            <option value="BZD">벨리즈</option>
                            <option value="CAD">캐나다</option>
                            <option value="CDF">콩고 민주 공화국</option>
                            <option value="CHF">스위스</option>
                            <option value="CLF">칠레</option>
                            <option value="CLP">칠레</option>
                            <option value="CNY">중국</option>
                            <option value="COP">콜롬비아</option>
                            <option value="CRC">코스타리카</option>
                            <option value="CUC">쿠바</option>
                            <option value="CUP">쿠바</option>
                            <option value="CVE">카보베르데</option>
                            <option value="CZK">체코</option>
                            <option value="DJF">지부티</option>
                            <option value="DKK">덴마크</option>
                            <option value="DOP">도미니카 공화국</option>
                            <option value="DZD">알제리</option>
                            <option value="EGP">이집트</option>
                            <option value="ERN">에리트레아</option>
                            <option value="ETB">에티오피아</option>
                            <option value="EUR">유럽연합</option>
                            <option value="FJD">피지</option>
                            <option value="FKP">포클랜드 제도</option>
                            <option value="GBP">영국</option>
                            <option value="GEL">조지아</option>
                            <option value="GGP">건지</option>
                            <option value="GHS">가나</option>
                            <option value="GIP">지브롤터</option>
                            <option value="GMD">감비아</option>
                            <option value="GNF">기니</option>
                            <option value="GTQ">과테말라</option>
                            <option value="GYD">가이아나</option>
                            <option value="HKD">홍콩</option>
                            <option value="HNL">온두라스</option>
                            <option value="HRK">크로아티아</option>
                            <option value="HTG">아이티</option>
                            <option value="HUF">헝가리</option>
                            <option value="IDR">인도네시아</option>
                            <option value="ILS">이스라엘</option>
                            <option value="IMP">맨 섬</option>
                            <option value="INR">인도</option>
                            <option value="IQD">이라크</option>
                            <option value="IRR">이란</option>
                            <option value="ISK">아이슬란드</option>
                            <option value="JEP">저지</option>
                            <option value="JMD">자메이카</option>
                            <option value="JOD">요르단</option>
                            <option value="JPY">일본</option>
                            <option value="KES">케냐</option>
                            <option value="KGS">키르기스스탄</option>
                            <option value="KHR">캄보디아</option>
                            <option value="KMF">코모로</option>
                            <option value="KPW">북한</option>
                            <option value="KRW">대한민국</option>
                            <option value="KWD">쿠웨이트</option>
                            <option value="KYD">케이맨 제도</option>
                            <option value="KZT">카자흐스탄</option>
                            <option value="LAK">라오스</option>
                            <option value="LBP">레바논</option>
                            <option value="LKR">스리랑카</option>
                            <option value="LRD">리베리아</option>
                            <option value="LSL">레소토</option>
                            <option value="LTL">리투아니아</option>
                            <option value="LVL">라트비아</option>
                            <option value="LYD">리비아</option>
                            <option value="MAD">모로코</option>
                            <option value="MDL">몰도바</option>
                            <option value="MGA">마다가스카르</option>
                            <option value="MKD">북마케도니아</option>
                            <option value="MMK">미얀마</option>
                            <option value="MNT">몽골</option>
                            <option value="MOP">마카오</option>
                            <option value="MRU">모리타니</option>
                            <option value="MUR">모리셔스</option>
                            <option value="MVR">몰디브</option>
                            <option value="MWK">말라위</option>
                            <option value="MXN">멕시코</option>
                            <option value="MYR">말레이시아</option>
                            <option value="MZN">모잠비크</option>
                            <option value="NAD">나미비아</option>
                            <option value="NGN">나이지리아</option>
                            <option value="NIO">니카라과</option>
                            <option value="NOK">노르웨이</option>
                            <option value="NPR">네팔</option>
                            <option value="NZD">뉴질랜드</option>
                            <option value="OMR">오만</option>
                            <option value="PAB">파나마</option>
                            <option value="PEN">페루</option>
                            <option value="PGK">파푸아뉴기니</option>
                            <option value="PHP">필리핀</option>
                            <option value="PKR">파키스탄</option>
                            <option value="PLN">폴란드</option>
                            <option value="PYG">파라과이</option>
                            <option value="QAR">카타르</option>
                            <option value="RON">루마니아</option>
                            <option value="RSD">세르비아</option>
                            <option value="RUB">러시아</option>
                            <option value="RWF">르완다</option>
                            <option value="SAR">사우디아라비아</option>
                            <option value="SBD">솔로몬 제도</option>
                            <option value="SCR">세이셸</option>
                            <option value="SDG">수단</option>
                            <option value="SEK">스웨덴</option>
                            <option value="SGD">싱가포르</option>
                            <option value="SHP">세인트헬레나</option>
                            <option value="SLE">시에라리온</option>
                            <option value="SLL">시에라리온</option>
                            <option value="SOS">소말리아</option>
                            <option value="SRD">수리남</option>
                            <option value="STD">상투메 프린시페</option>
                            <option value="SVC">엘살바도르</option>
                            <option value="SYP">시리아</option>
                            <option value="SZL">스와질란드</option>
                            <option value="THB">태국</option>
                            <option value="TJS">타지키스탄</option>
                            <option value="TMT">투르크메니스탄</option>
                            <option value="TND">튀니지</option>
                            <option value="TOP">통가</option>
                            <option value="TRY">터키</option>
                            <option value="TTD">트리니다드 토바고</option>
                            <option value="TWD">대만</option>
                            <option value="TZS">탄자니아</option>
                            <option value="UAH">우크라이나</option>
                            <option value="UGX">우간다</option>
                            <option value="UYU">우루과이</option>
                            <option value="UZS">우즈베키스탄</option>
                            <option value="VEF">베네수엘라</option>
                            <option value="VES">베네수엘라</option>
                            <option value="VND">베트남</option>
                            <option value="VUV">바누아</option>
                            <option value="WST">사모아</option>
                            <option value="YER">예멘</option>
                            <option value="ZAR">남아프리카 공화국</option>
                            <option value="ZMW">잠비아</option>
                        </select>
                        <span id="rate-result"></span>
                    </div>
                    <!-- 환율 form -->

                </div><!--계산기 부분-->

                <div class="monthRate">


                </div>
            </div><!--전체 content -->



            <footer id="footer" class="footer">
                <div class="footer-inner">
                    <div class="cont site">
                        <div class="menu">
                            <a href="/privacy.html">개인정보처리방침</a>
                            <a href="/terms.html">이용약관</a>
                        </div>
                        <div class="select-box">
                            <select class="select family" title="나이스투매치유">
                                <option value disabled selected>Family Site</option>
                                <option value="https://g2b-rating.nicednb.com/index.html#MENUCM0100">NICE D&B</option>
                                <option value="http://www.ec21.co.kr/">EC21</option>
                                <option value="https://www.valuelinku.com/">ValueLinkeU</option>
                                <option value="https://www.hanwhacorp.co.kr/">HANWHA</option>
                                <option value="https://www.itronics.co.kr">5조</option>
                            </select>
                        </div>
                    </div>
                    <div class="cont contact">
                        <address>
                            <span>서울특별시 강남구 영동대로 513 COEX 4층 무역아카데미</span>
                            <span>대표자&nbsp;<em>주진명</em></span>
                            <span>TEL.<em>010-2432-2450</em></span>
                        </address>
                        <p class="copyright">Copyright 2024 NICETOMATCHYOU Inc. All Rights Reserved.</p>
                    </div>
                </div>
            </footer>
        </div>
    </div><!-- // #wrap -->

    <script th:src="@{/js/lib/gsap.min.js}"></script>
    <script th:src="@{/js/lib/ScrollTrigger.min.js}"></script>
    <script th:src="@{/js/lib/smooth-scrollbar.js}"></script>
    <script th:src="@{/js/lib/aos.js}"></script>
    <script th:src="@{/js/lib/swiper-bundle.js}"></script>
    <script>
        nav.current(5, 0);
        familySite();

        jQuery(function () {

            setTimeout(function () {
                $('.page-header').addClass('on');
                $('.counter').animate({ 'opacity': '1.0' }, 300);
            }, 150);



            yearCount();

            $(window).on("resize", function () {
                yearCount();
            });

            function yearCount() {
                $counter = $('.counter');
                var windowWidth = window.innerWidth;
                if (windowWidth > 961) {
                    /*
                    $counter.rollNumber({
                    number: $counter[0].dataset.number, 
                    speed:  1000, 
                    fontStyle: {
                    'font-size': 140,
                    }
                    })
                    */
                    $('.counter').css('font-size', '140px');
                } else {
                    /*
                    $counter.rollNumber({
                    number: $counter[0].dataset.number, 
                    speed:  1000, 
                    fontStyle: {
                    'font-size': 80,
                    }
                    })
                    */
                    $('.counter').css('font-size', '80px');
                }

            }


            gsap.registerPlugin(ScrollTrigger);

            gsap.to('.section.with .cont1', {
                scrollTrigger: {
                    trigger: '.section.with',
                    start: 'top 70%-=20%',
                    end: 'top top-=120%',
                    scrub: 1,
                    onEnter: () => $('.section.with .cont1 .masking-wrap').removeClass('hide').addClass('show'),
                    onLeave: () => $('.section.with .cont1 .masking-wrap').removeClass('show').addClass('hide'),
                    onEnterBack: () => $('.section.with .cont1 .masking-wrap').removeClass('hide').addClass('show'),
                    onLeaveBack: () => $('.section.with .cont1 .masking-wrap').removeClass('show').addClass('hide'),
                },
            });

            gsap.to('.section.with .cont2', {
                scrollTrigger: {
                    trigger: '.section.with',
                    start: 'top top-=140%',
                    end: 'top top-=240%',
                    scrub: 1,
                    onEnter: () => $('.section.with .cont2 .masking-wrap').removeClass('hide').addClass('show'),
                    onEnterBack: () => $('.section.with .cont2 .masking-wrap').removeClass('hide').addClass('show'),
                    onLeaveBack: () => $('.section.with .cont2 .masking-wrap').removeClass('show').addClass('hide'),
                },
            });

            gsap.timeline({
                scrollTrigger: {
                    start: "top top",
                    pin: '.section.with',
                    end: "+=250%",
                    pinSpacing: true,
                    scrub: 0.5
                },
            }).to('.section.with .bg-wrap ', {
                backgroundPosition: '0% 100%',
            });


            gsap.to('.section.growth', {
                scrollTrigger: {
                    trigger: '.section.growth',
                    start: 'top 0%',
                    end: "+=50%",
                    pin: true,
                    pinSpacing: true,
                    scroller: scroller,
                    pinType: "transform",
                    scrub: true,
                },
            });
            gsap.to('.section.growth', {
                scrollTrigger: {
                    trigger: '.section.growth .title-wrap',
                    start: 'top 50%',
                    end: "bottom+=80% 80%",
                    scrub: true,
                    onEnter: () => $('.section.growth .masking-wrap').removeClass('hide').addClass('show'),
                    onEnterBack: () => $('.section.growth .masking-wrap').removeClass('hide').addClass('show'),
                    onLeaveBack: () => $('.section.growth .masking-wrap').removeClass('show').addClass('hide'),
                },
            });

            gsap.set(".section.innovation .content-list > li", {
                yPercent: 50,
            });

            const yPercent_vh = (coef) => window.innerHeight * (coef / 100);
            const invTl = gsap.timeline({
                scrollTrigger: {
                    trigger: ".section.innovation",
                    scrub: 3,
                    start: "-30% 100%",
                    ease: "none",
                },
            })
            invTl.to(".section.innovation .content-list > li:nth-child(1)", {
                yPercent: yPercent_vh(-8),
                duration: 5,
            }, "innovItem");
            invTl.to(".section.innovation .content-list > li:nth-child(2)", {
                yPercent: yPercent_vh(-8),
                duration: 5,
            }, "innovItem+=1.2",);

            gsap.to('.section.inquiry', {
                scrollTrigger: {
                    trigger: '.section.inquiry .content-wrap',
                    start: 'top 90%',
                    end: "bottom+=80% 80%",
                    scrub: true,
                    onEnter: () => $('.section.inquiry .masking-wrap').removeClass('hide').addClass('show'),
                    onLeave: () => $('.section.inquiry .masking-wrap').removeClass('show').addClass('hide'),
                    onEnterBack: () => $('.section.inquiry .masking-wrap').removeClass('hide').addClass('show'),
                    onLeaveBack: () => $('.section.inquiry .masking-wrap').removeClass('show').addClass('hide'),
                },
            });

            const fade = document.querySelectorAll("[data-gsap='fade']");
            fade.forEach((item, index) => {
                gsap.set(item, {
                    opacity: 0,
                }),
                    gsap.to(item, {
                        opacity: 1,
                        duration: 1,
                        ease: "none",
                        scrollTrigger: {
                            trigger: item,
                            start: "top 90%",
                            toggleActions: 'play none none reverse',
                        },
                    });
            });

            const fadeUp = document.querySelectorAll("[data-gsap='fade-up']");
            fadeUp.forEach((item, index) => {
                gsap.set(item, {
                    opacity: 0,
                    yPercent: 10,
                }),
                    gsap.to(item, {
                        opacity: 1,
                        yPercent: 0,
                        duration: 1,
                        ease: "none",
                        scrollTrigger: {
                            trigger: item,
                            start: "top 75%",
                            toggleActions: 'play none none reverse',
                        },
                    });
            });

            //swiper - product
            var productSwiper = new Swiper("#productSwiper .swiper", {
                autoHeight: false,
                slidesPerView: 1,
                spaceBetween: 10,
                navigation: {
                    nextEl: '#productSwiper .swiper-button-next',
                    prevEl: '#productSwiper .swiper-button-prev',
                },

                breakpoints: {
                    "100": {
                        slidesPerView: 'auto',
                        centeredSlides: true,
                        autoHeight: false,
                    },
                    "768": {
                        slidesPerView: 'auto',
                        spaceBetween: 20,
                        centeredSlides: false,
                        autoHeight: false,
                    },
                }
            });
        });
    </script>
</body>

</html>