<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />



    <meta http-equiv="X-UA-Compatible" content="IE=7, IE=9, IE=10" />






    <title>무료환율표C서비스제공화면 - 우리은행</title>

    <style type="text/css" media="print">
        html {
            overflow-y: scroll;
            width: 100%;
            height: 100%;
        }

        body {
            width: 100% !important;
        }
    </style>
    <link rel="stylesheet" href="https://simg.wooribank.com/css/base.css?1547197091000" type="text/css" />

    <!--[if !IE]>
		<link  rel="stylesheet" href="https://simg.wooribank.com/css/animations.css?1363353990000" type="text/css" />

		<![endif]-->

    <link rel="stylesheet" href="https://simg.wooribank.com/css/layout.css?1695198620000" type="text/css" />


    <link rel="stylesheet" href="https://simg.wooribank.com/css/common.css?1633593602000" type="text/css" />

    <link rel="stylesheet" href="https://simg.wooribank.com/css/common_section.css?1684396871000" type="text/css" />

    <link rel="stylesheet" href="https://simg.wooribank.com/css/common_popup.css?1616055240000" type="text/css" />

    <link rel="stylesheet" href="https://simg.wooribank.com/css/common_promotion.css?1653469082000" type="text/css" />

    <link rel="stylesheet" href="https://simg.wooribank.com/css/print.css?1514529677000" type="text/css"
        media="print" />



    <!--[if gt IE 7]><!-->
    <link rel="stylesheet" type="text/css" href="/css/hover.css" />
    <!--<![endif]-->



    <link rel="stylesheet" href="https://simg.wooribank.com/css/fx.css?1618561184000" type="text/css" />


    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://simg.wooribank.com/css/css3.css?1366707921000" type="text/css" />

    <!--<![endif]-->




    <script type="text/javascript" src="https://simg.wooribank.com/js/com/jquery-1.7.1.min.js?1363353990000"></script>


    <script type="text/javascript"
        src="https://simg.wooribank.com/js/com/jquery-ui-1.8.24.custom.min.js?1363353990000"></script>

    <script type="text/javascript" src="https://simg.wooribank.com/js/com/jquery.bgpos.min.js?1363353990000"></script>


    <script type="text/javascript"
        src="https://simg.wooribank.com/js/com/wbui.min-20130514-2.js?1619622303000"></script>




    <script type="text/javascript" src="https://simg.wooribank.com/js/com/calendar.js?1365500133000"></script>

    <!--[if lt IE 7]>
	<script  type="text/javascript" src="https://simg.wooribank.com/js/com/unitpngfix.js?1365493928000"></script>

	<![endif]-->

    <script type="text/javascript" src="https://simg.wooribank.com/js/com/ui_frm_common.js?1697533200000"></script>

    <script type="text/javascript" src="https://simg.wooribank.com/js/com/common.js?1525668543000"></script>









    <script type="text/javascript">
        var IMG_SVR = "https://simg.wooribank.com/";
        var TOP_PAGE_ID = "fx";
        var ML_LCL = '';
        if (typeof wbUI !== 'undefined') {
            wbUI.printPopAddress = 'Dream?withyou=CMCOM0106'; //: /pib/Dream?withyou=print
            wbUI.lang = "ko";

            wbUI.isDebug = false;

        }
    </script>


    <script type="text/javascript">
        //<![CDATA[
        // 개인
        var top_installurl = "/pot/Dream?withyou=CMCOM0127";





        var xecure_plugin_info = {
            "OBJECT_VERSION": "1,0,5,16",
            "INSTALL_URL": top_installurl + "&P_name=XecureWeb&url=" + encodeURIComponent(window.location.href)
        };

        var touchenkey_plugin_info = {
            "OBJECT_VERSION": "",
            "INSTALL_URL": top_installurl + "&P_name=TouchEnKey&url=" + encodeURIComponent(window.location.href)
        };

        var crownix_plugin_info = {
            "OBJECT_VERSION": "",
            "OS_TYPE": "WIN6.1",
            "INSTALL_URL": top_installurl + "&P_name=Crownix&url=" + encodeURIComponent(window.location.href)
        };

        var markany_plugin_info = {
            "OBJECT_VERSION": "2501",
            "INSTALL_URL": top_installurl + "&P_name=Markany&url=" + encodeURIComponent(window.location.href)
        };

        var KSCertRelayW_plugin_info = {
            "OBJECT_VERSION": "1,0,2,1",
            "OBJECT_CODE": " KSCertRelayW",
            "INSTALL_URL": top_installurl + "&P_name=KSCertRelayW&url=" + encodeURIComponent(window.location.href)
        };
        var KSCertRelay_plugin_info = {
            "OBJECT_VERSION": "2,0,1,9",
            "OBJECT_CODE": " KSCertRelay",
            "INSTALL_URL": top_installurl + "&P_name=KSCertRelay&url=" + encodeURIComponent(window.location.href)
        };

        var ipinside_plugin_info = {
            "OBJECT_VERSION": "1,0,0,3",
            "INSTALL_URL": top_installurl + "&P_name=IPinside&url=" + encodeURIComponent(window.location.href)
        };

        var fwgrid_plugin_info = {
            "OBJECT_VERSION": "1.0.1.0",
            "INSTALL_URL": top_installurl + "&P_name=FWGrid&url=" + encodeURIComponent(window.location.href)
        };

        var veraport_plugin_info = {
            "OBJECT_VERSION": "1,0,4,5",
            "INSTALL_URL": top_installurl + "&P_name=Veraport&url=" + encodeURIComponent(window.location.href)
        };
        //]]>		
    </script>




</head>
<!--[if lt IE 7]><body class="msie ie6 lt-ie9 lt-ie8 lt-ie7 lt-css3"><![endif]-->
<!--[if IE 7]>   <body class="msie ie7 lt-ie9 lt-ie8 lt-css3"><![endif]-->
<!--[if IE 8]>   <body class="msie ie8 lt-ie9 lt-css3"><![endif]-->
<!--[if IE 9]>   <body class="msie ie9 css3"><![endif]-->
<!--[if gt IE 9]><!-->

<body class="css3">
    <!--<![endif]-->
    <div>

        <!-- content_common -->
        <div class="pop-outer">

            <div class="error-wrap">

            </div>


        </div>
        <!-- content_common -->
















































        <script type="text/javascript" src="https://simg.wooribank.com/js/mall/accChecker.js?1364287758000"></script>






















































        <script type="text/javascript" src="https://simg.wooribank.com/js/mall/accChecker.js?1364287758000"></script>









        <script type="text/javascript">
            $(".fleft.ml2").text("2024/04/26 21:34:36");
        </script>

        <script type="text/javascript">
            var oldNatCodeC = "USD";
            var oldNatCodeSelectedIndexC = 0;
            $(document).ready(function () {
                $selectopt = $(".nat");
                $selectopt.append($("<option>").val("").text("국가 변경"));
                $selectopt.append($("<option>").val("USD").text("미국"));
                $selectopt.append($("<option>").val("JPY").text("일본"));
                $selectopt.append($("<option>").val("EUR").text("유럽"));
                $selectopt.append($("<option>").val("CAD").text("캐나다"));
                $selectopt.append($("<option>").val("AUD").text("호주"));
                $selectopt.append($("<option>").val("GBP").text("영국"));
                $selectopt.append($("<option>").val("HKD").text("홍콩"));
                $selectopt.append($("<option>").val("THB").text("태국"));
                $selectopt.append($("<option>").val("SEK").text("스웨덴"));
                $selectopt.append($("<option>").val("CHF").text("스위스"));
                $selectopt.append($("<option>").val("NZD").text("뉴질랜드"));

                $("div.pop-wrap").removeClass();
                $("div.pop-content").removeClass();
                if ("1" == "1") $("div.info3").removeClass().addClass("info3");
                if ("1" == "2") $("div.info3").removeClass().addClass("info4");
                if ("1" == "3") $("div.info3").removeClass().addClass("info5");
                if ("1" == "4") $("div.info3").removeClass().addClass("info6");
                if ("1" == "5") $("div.info3").removeClass().addClass("info7");

                $(".nat").live("change", function () {
                    var $obj = $(this).parent().siblings("div.result").find("span.nat-flag");
                    $obj = $obj.length == 0 ? $(this).siblings("div").children().find("span.nat-flag") : $obj;
                    $obj.removeClass($obj.attr("class"));
                    $obj.addClass("nat-flag " + $(this).find("option:selected").val().toLowerCase());
                    var spanStr = ($(this).find("option:selected").val() == "JPY" ? "100" : "1") + $(this).find("option:selected").val().toUpperCase();
                    if ($obj.find(".hidden").siblings("span").length == 0) $obj.siblings("span.vtop").html(spanStr + "<br>" + $(this).find("option:selected").text());
                    else $obj.find(".hidden").siblings("span").text(spanStr);
                });
            });

            function ajaxAction(obj, rc, target, frmType, actUrl) {
                var nat_code;
                var calType;
                var ajaxParam = "&rc=" + rc;

                if ($(obj).parent().find(".refresh").length > 0) {
                    nat_code = oldNatCodeC;
                    $(obj).parent().parent().siblings("div.info2").children("select").find("option:eq(" + oldNatCodeSelectedIndexC + ")").attr("selected", "selected");
                } else nat_code = $(obj).parent().siblings("select").find("option:selected").val();
                // 		if("" == nat_code || undefined == nat_code) nat_code = "USD&nat_code_name=미국";
                // 		else nat_code += "&nat_code_name="+$(obj).parent().siblings("select").find("option:selected").text();

                var oldNatCode = oldNatCodeC;

                if ($(obj).parent().find(".refresh").length > 0) $("#nat_code").val(oldNatCode);
                else if ($(obj).parent().siblings("select").find("option:selected").val() == "" ||
                    $(obj).parent().siblings("select").find("option:selected").val() == undefined) $("#nat_code").val("USD");
                else $("#nat_code").val($(obj).parent().siblings("select").find("option:selected").val());
                if ($(obj).parent().siblings("select").find("option:selected").text() == "" &&
                    $(obj).parent().parent().siblings("div.info2").children("select").find("option:selected").text() == "") {
                    $("#nat_code_name").val("미국");
                }
                else {
                    var str = $(obj).parent().siblings("select").find("option:selected").text() == "" ?
                        $(obj).parent().parent().siblings("div.info2").children("select").find("option:selected").text() :
                        $(obj).parent().siblings("select").find("option:selected").text();
                    $("#nat_code_name").val((str == "국가 변경" ? "미국" : str));
                }

                ajaxParam = "";
                ajaxParam += "&nat_code=" + ("" == nat_code || undefined == nat_code ? "USD" : nat_code);
                $('form[name=' + frmType + ']').attr("action", "/pot/jcc?withyou=FXCNT0007&__ID=" + actUrl + "" + ajaxParam);
                $('form[name=' + frmType + ']').data("target", target);
                $('#' + frmType).submit();
                if ("변경" == $(obj).text()) {
                    oldNatCodeC = "" == nat_code ? "USD" : nat_code;
                    oldNatCodeSelectedIndexC = $(obj).parent().siblings("select").find("option").index($(obj).parent().siblings("select").find("option:selected"));
                }
                return true;
            }

            function winOPen(url) {
                window.open("/pot/Dream?withyou=" + url, "", "");
            }		
        </script>
        <form id="cFrm" name="cFrm" class="ajax-form" method="post" action="#" data-target="#" data-no-ajax="false">
            <input type="hidden" id="nat_code" name="nat_code" />
            <input type="hidden" id="nat_code_name" name="nat_code_name" />

            <div class="content clearfix">
                <div class="content mb20 clearfix">
                    <div class="exchange-typec">
                        <div class="info">
                            <img class="logo" alt="우리은행"
                                src="https://simg.wooribank.com/img/section/fx/exchange_logo.gif" />
                            <div class="date"><span class="fleft ml2">2024/04/26 21:34:36</span> <a href="#none"
                                    onClick="ajaxAction(this, '', '#subtabP', 'cFrm', 'c005989')"><span
                                        class="refresh"><span>리프래쉬</span></span></a></div>
                            <p><a href="#" class="btn-pack btn-type-2"
                                    onclick="jsOpenWindow('/pot/Dream?withyou=CMBBS0086&cc=c006244:c006320', '금융계산기','900','482','1','1');">환율계산</a>
                                <a href="javascript:winOPen('FXXRT0011');" class="btn-pack btn-type-2">상세환율</a>
                            </p>
                        </div>
                        <div class="info2">
                            <select class="nat" title="국가조회">
                            </select>
                            <p><a href="#none" onClick="ajaxAction(this, '', '#subtabP', 'cFrm', 'c005989')">변경</a></p>
                            <div class="con">
                                <p>
                                    <span class="nat-flag usd"><span class="hidden">미국국기</span></span><span
                                        class="vtop mt5 ml5">1USD<br />미국</span>
                                </p>
                            </div>
                        </div>
                        <div class="info3" id="subtabP">
                            <table cellspacing="0" summary="환전시,매매기준율,해외송금시 사실때 파실때 환율">
                                <caption>환전 매매기준율 해외송금 분류기준</caption>
                                <colgroup>
                                    <col width="100" />
                                    <col width="150" />
                                    <col width="190" />
                                    <col width="150" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col">&nbsp;</th>
                                        <th scope="col">환전시</th>
                                        <th scope="col">매매기준율</th>
                                        <th scope="col">해외송금시</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">사실때</th>
                                        <td>1400.58</td>
                                        <td rowspan="2"><strong class="font-13">1376.5</strong></td>
                                        <td>1352.42</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">파실때</th>
                                        <td>1389.8</td>
                                        <td>1363.2</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>





    </div>



    <script type="text/javascript" src="https://simg.wooribank.com/js/com/wbCheck.js?1678176712000"></script>




</body>

</html>