<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 가입</title>
    <link rel="stylesheet" th:href="@{/css/join.css}">
    <link rel="stylesheet" th:href="@{/css/myPage.css}">
    <script th:src="@{/script/jquery-3.7.1.min.js}"></script>
    <script>
        $(function () {
            $("#checkuserId").on('click', checkIdFunc);// 아이디 중복 검사 
        })

        function checkIdFunc() {
            let userId = $("#userId").val(); // 사용자 입력 아이디 
            if (userId.trim().length < 1 || userId.trim().length > 13 || !/^[a-z]{4,12}$/.test(userId)) {
                alert("아이디는 4~12글자 소문자로 입력해주세요.");
                $("#userId").focus();
                return;


            }
            else { // 아이디 중복 검사 
                $.ajax({
                    url: "/user/confirmId"
                    , method: 'GET'
                    , async: false
                    , data: { "userId": userId }
                    , success: function (output) {
                        if (output == false) {
                            alert("아이디 중벅");
                        }



                    }

                });

            }



        }

    </script>


</head>

<body>
    <div class="logo">
        <a>NICE TO MATCH YOU</a> <!-- 회사로고 맨 왼쪽-->
    </div>

    <div class="gnb">
        <ul class="menubar"> <!-- 메뉴들 상단 중앙-->
            <li>메뉴1</li>
            <li>메뉴2</li>
            <li>메뉴3</li>
            <li>메뉴4</li>
            <li>메뉴5</li>
        </ul>
    </div>
    <hr>
    <h2>회원 가입</h2>

    <form th:action="@{/user/joinProc}" method="post">
        <section>
            <div>
                <h4>개인 정보</h4>
            </div>
            <table border="1">
                <tr>
                    <th>아이디</th>
                    <td>
                        <input type="text" id="userId" name="userId"> <!-- 사용자 아이디 입력-->
                        <button type="button" class="checkId" id="checkuserId">아이디 중복 확인
                    </td>

                </tr>
                <tr>
                    <th>비밀번호</th>
                    <td colspan="2">
                        <input type="password" class="password" id="userPwd" name="userPwd">
                    </td>
                </tr>
                <tr>
                    <th>비밀번호 확인</th> <!-- 비밀번호가 다른지 확인 필수-->
                    <td>
                        <input type="password" placeholder="비밀번호 확인" id="userPwdConfirm">
                    </td>
                </tr>
                <tr>
                    <th>담당자 이메일</th>
                    <td>
                        <input type="email" id="userEmail" name="userEmail">
                    </td>
                </tr>
                <tr>
                    <th>담당자 이름(영문)</th>
                    <td>
                        <input type="text" id="userName" name="userName">
                </tr>
                <tr>
                    <th>담당자 연락처</th>
                    <td>
                        <input type="text" id="userPhone" name="userPhone">
                    </td>
                </tr>
            </table>

            <h4> 회사정보 </h4>

            <table border="1">
                <tr>
                    <th>회사명(영문)</th>
                    <td>
                        <input type="text" id="userCmpEng" name="userCmpEng">
                    </td>
                </tr>
                <tr>
                    <th>회사명(한글)</th>
                    <td>
                        <input type="text" id="userCmpKor" name="userCmpKor">
                    </td>
                </tr>
                <tr>
                    <th>국가</th>
                    <td>
                        <input type="text" id="userNtn" name="userNtn">
                    </td>
                </tr>
                <tr>
                    <th>회사 대표이메일</th>
                    <td>
                        <input type="email" id="userPubEmail" name="userPubEmail">
                </tr>
                <tr>
                    <th>대표자명(영문)</th>
                    <td>
                        <input type="name" id="userCeoEng" name="userCeoEng">
                    </td>
                </tr>
                <tr>
                    <th>대표자명(국문)</th>
                    <td>
                        <input type="name" id="userCeoKor" name="userCeoKor">
                    </td>
                </tr>


                <tr>
                    <th>던스번호</th>
                    <td>
                        <input type="text" id="userDunsNo" name="userDunsNo"> <!-- 타임리프 태그 추가 필요 + 예전에 입력했던 정보 보여질 예정-->
                    </td>
                </tr>
                <tr>
                    <th>회사 주소</th>
                    <td>
                        <input type="text" id="userUrl" name="userUrl"> <!-- 타임리프 태그 추가 필요 + 예전에 입력했던 정보 보여질 예정-->
                    </td>
                </tr>
                <tr>
                    <th>홈페이지 주소</th>
                    <td>
                        <input type="text" id="userAdr" name="userAdr"> <!-- 타임리프 태그 추가 필요 + 예전에 입력했던 정보 보여질 예정-->
                    </td>
                </tr>
                <tr>
                    <th>자사 취급 품목(영문)</th>
                    <td>
                        <input type="text" id="userSicCd" name="userSicCd">
                    </td>
                </tr>
                <tr>
                    <th>관심 품목 키워드(영문)</th>
                    <td>
                        <input type="text" id="userKeyWord" name="userKeyWord">
                    </td>
                </tr>
            </table>
        </section>
        <div class="agreement">
            <input type="checkbox" class="checkbox" id="agreementCheckbox">
            <label for="agreementCheckbox" class="checkbox-label">필수 이용약관 및 개인정보 수집 및 이용, 마케팅 정보 수신에 모두 동의합니다.</label>
        </div>
        <!-- <div class="join">
            <a type="button" class="join Btn btn-primary"> 가입하기</a>
        </div> -->
        <div class="join">
            <input type="submit" id="submitBtn" value="회원가입" class="join Btn btn-primary" disabled>
            <!--유효성 검사 끝나면 버튼 클릭 할 수 있도록 하기 -->
        </div>
    </form>

</body>

</html>