<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 가입</title>
    <link rel="stylesheet" th:href="@{/css/join.css}">
    <link rel="stylesheet" th:href="@{/css/myPage.css}">
    <script th:src="@{/script/jquery-3.7.1.min.js}"></script>
    <script>

    </script>




</head>

<body>
    <div class="logo">
        <a>NICE TO MATCH YOU</a> <!-- 회사로고 맨 왼쪽-->
    </div>

    <div class="gnb">
        <ul class="menubar"> <!-- 메뉴들 상단 중앙-->
            <li>메뉴1</li>
            <li>메뉴2</li>
            <li>메뉴3</li>
            <li>메뉴4</li>
            <li>메뉴5</li>
        </ul>
    </div>
    <hr>
    <h2>회원 가입</h2>
    <section>
        <div>
            <h4>개인 정보</h4>
        </div>
        <form th:action="@{/user/joinProc}" method="post">
            <table border="1">
                <tr>
                    <th>아이디</th>
                    <td>
                        <input type="text" id="userId"> <!-- 사용자 아이디 입력-->
                        <button type="button" class="checkId">아이디 중복 확인</button>
                    </td>

                </tr>
                <tr>
                    <th>비밀번호</th>
                    <td colspan="2">
                        <input type="password" class="password" id="userPwd"> <!-- 타임리프 태그 추가 필요-->
                    </td>
                </tr>
                <tr>
                    <th>비밀번호 확인</th> <!-- 비밀번호가 다른지 확인 필수-->
                    <td>
                        <input type="password" placeholder="비밀번호 확인" id="userPwdConfirm"> <!-- 타임리프 태그 추가 필요-->
                    </td>
                </tr>
                <tr>
                    <th>담당자 이메일</th>
                    <td>
                        <input type="email" id="userEmail">
                    </td>
                </tr>
                <tr>
                    <th>담당자 이름(영문)</th>
                    <td>
                        <input type="text" id="userName">
                </tr>
                <tr>
                    <th>담당자 연락처</th>
                    <td>
                        <input type="text" id="userPhone">
                    </td>
                </tr>
            </table>

            <h4> 회사정보 </h4>

            <table border="1">
                <tr>
                    <th>회사명(영문)</th>
                    <td>
                        <input type="text" id="userCmpEng">
                    </td>
                </tr>
                <tr>
                    <th>회사명(한글)</th>
                    <td>
                        <input type="text" id="userCmpKor">
                    </td>
                </tr>
                <tr>
                    <th>국가</th>
                    <td>
                        <input type="text" id="userNtn"> <!-- 타임리프 태그 추가 필요 + 예전에 입력했던 정보 보여질 예정-->
                    </td>
                </tr>
                <tr>
                    <th>회사 대표이메일</th>
                    <td>
                        <input type="email" id="userPubEmail">
                </tr>
                <tr>
                    <th>대표자명(영문)</th>
                    <td>
                        <input type="name" id="userCeoEng">
                    </td>
                </tr>
                <tr>
                    <th>대표자명(국문)</th>
                    <td>
                        <input type="name" id="userCeoKor">
                    </td>
                </tr>


                <tr>
                    <th>던스번호</th>
                    <td>
                        <input type="text" id="userDunsNo"> <!-- 타임리프 태그 추가 필요 + 예전에 입력했던 정보 보여질 예정-->
                    </td>
                </tr>
                <tr>
                    <th>회사 주소</th>
                    <td>
                        <input type="text" id="userUrl"> <!-- 타임리프 태그 추가 필요 + 예전에 입력했던 정보 보여질 예정-->
                    </td>
                </tr>
                <tr>
                    <th>홈페이지 주소</th>
                    <td>
                        <input type="text" id="userAdr"> <!-- 타임리프 태그 추가 필요 + 예전에 입력했던 정보 보여질 예정-->
                    </td>
                </tr>
                <tr>
                    <th>자사 품목(영문)</th>
                    <td>
                        <input type="text" id="userSicCd">
                    </td>
                </tr>
                <tr>
                    <th>관심 품목 키워드</th>
                    <td>
                        <span>키워드</span>
                    </td>
                </tr>
            </table>

            <!-- <h4>추가 회사 정보</h4>   추가 할지 말지 나중에 정의하기 
        <table>
            <tr>
                <th>매출</th>
                <td>
                    <input type="text" class="Sales">
                </td>
            </tr>
            <tr>
                <th>자산</th>
                <td>
                    <input type="text" class="Asset">
                </td>
            </tr>
            <tr>
                <th>종업원수</th>
                <td>
                    <input type="text" class="Employees">
                </td>
            </tr>
        </table> -->
        </form>
    </section>
    <div class="agreement">
        <input type="checkbox" class="checkbox" id="agreementCheckbox">
        <label for="agreementCheckbox" class="checkbox-label">필수 이용약관 및 개인정보 수집 및 이용, 마케팅 정보 수신에 모두 동의합니다.</label>
    </div>
    <div class="join">
        <a type="button" class="join Btn btn-primary"> 가입하기</a>
    </div>
</body>

</html>