/************
건드리지 말것 
*************/

@charset "UTF-8";

/* Swiper 슬라이드의 다음/이전 버튼을 스타일링 */
.swiper-button-next, 
.swiper-button-prev {display: block; position: absolute; top: 50%; width: var(--xlarge); height: var(--xlarge); margin-top: 0; background-color: var(--light-gray-2); background-repeat: no-repeat; background-position: center center; background-size: 25px 25px; border-radius: 50%; transform: translate(0%,-50%); transition: background-color 0.3s ease-in-out, background-image 0.3s ease-in-out;}
/* 절대 위치로 배치, 상위부모 요소의 중앙에 위치, 버튼의 크기를 정의, 버튼의 크기를 정의, 배경색과 이미지를 설정, 원형버튼으로 만듬, 상위요소의 중앙으로 이동, 배경색상및 이미지에 대한 애니메이션 효과 추가 */

.swiper-button-next {right: 0;} /* 버튼을 오른쪽 끝에 배치 */

.swiper-button-prev {left: auto; right: calc(var(--xlarge) + 10px);} /* 왼쪽 위치를 자동으로 설정, 오른쪽 위치를 --xlarge 갑과 10px의 합으로 설정 */

.swiper-button-next:hover, 
.swiper-button-prev:hover {background-color: var(--navy);} /* 버튼이 호버상태일 때 배경색을 --navy로 설정 */

/* swiper-button-next와 swiper-button-prev의 after 가상요소에 대한 스타일 정의 */
.swiper-button-next:after, 
.swiper-button-prev:after {content: ''; display: block; position: absolute; top: 50%; left: 50%; width: 25px; height: 25px; background-image: url('../images/common/ico_arrow-right.svg'); background-repeat: no-repeat; background-position: center center; background-size: cover; transform: translate(-50%,-50%) rotate(0deg);}
/* 가상요소에 내용 추가, 블록레벨 요소로 표시, 절대위치로 배치, 상위요소의 중앙에 배치, 크기를 설정, 화살표 아이콘을 배경이미지로 설정, 중앙 정렬후 회정 없이 배치 */

/* swiper-button-prev의 after 가상요소에 대한 스타일 정의 */
.swiper-button-prev:after {transform: translate(-50%,-50%) rotate(180deg);} /* 중앙정렬 후 180도 회전하여 화살표 방향을 반대로 변경 */

/* .swiper-button-next와 .swiper-button-prev 버튼이 호버 상태일 때 :after 가상 요소의 스타일을 정의 */
.swiper-button-next:hover:after, 
.swiper-button-prev:hover:after {background-image: url('../images/common/ico_arrow-right-w.svg');} /* 화살표 아이콘 이미지를 변경 */

/* swiper-button-next와 .swiper-button-prev 버튼이 비활성화 상태일 때의 스타일을 정의 */
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {opacity: 0.1;} /*  버튼을 희미하게 표시하여 비활성화 상태를 나타냄 */

/* 화면 너비가 768px 이하일 때 적용되는 스타일을 정의 */
@media all and (max-width: 768px) {
	.swiper-button-next:after, 
	.swiper-button-prev:after {width: 20px; height: 20px;} /* .swiper-button-next와 .swiper-button-prev 버튼의 :after 가상 요소의 크기를 20px로 설정 */
}

.swiper-pagination{left: 0;right: 0;font-size: 0;} /* 좌우 위치를 화면의 왼쪽과 오른쪽 끝에 배치, 폰트크기를 0으로 설정하여 텍스트 표시되지 않게 설정 */

.swiper-pagination-bullet{background-color: transparent;border: 1px solid var(--white);box-sizing: border-box;-webkit-box-sizing: border-box;opacity: 1;}
/* 배경색을 투명하게 설정, 흰색 테두리 추가, 박스 크길르 테두리까지 포함하여 설정, 완전히 불투명하게 설정 */

.swiper-pagination-bullet-active{background-color: var(--white);} /* 배경색을 white로 설정 */

/* 화면 너비가 960px 이하일 떄 적용되는 스타일을 정의 */
@media all and (max-width: 960px) {
	.swiper-pagination{} /* swiper-pagination 스타일은 기본값 유지 */
	.swiper-pagination-bullet{margin: 0 5px;} /* swiper bullet 아이템들 사이의 마진을 왼쪽과 오른쪽에 각각 5px로 설정 */
}