@charset "UTF-8";

/* reset */
@import url(lib/reset.css);
/* library */
@import url(lib/aos.css);
/* Animate On Scroll: 웹 페이지에서 스크롤에 따라 요소들에 애니메이션 효과를 적용하는 JavaScript 라이브러리 */
@import url(lib/swiper.css);
/* Swiper: 모바일 터치 슬라이더 라이브러리 다양한 터치 이벤트와 애니메이션을 지원하여 사용자에게 부드러운 슬라이드 경험을 제공 */
/* common css */
@import url(_swiper-custom.css);
@import url(_color.css);
@import url(_font.css);
@import url(_vars.css);
@import url(_button.css);
@import url(_form.css);
@import url(_layout.css);
@import url(_global.css);

html,
body {
    height: 100%;
    /* 브라우저 창의 전체 높이를 사용 */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* 요소들을 세로로 정렬 */
    font-family: 'SUIT', 'NanumSquareNeo', sans-serif !important;
}

#wrap {
    flex: 1;
    /* 나머지 공간을 모두 차지하도록 설정 */
    display: flex;
    flex-direction: column;
    /* 요소들을 세로로 정렬 */
    min-height: 100vh;
    /* 뷰포트 높이의 최소 크기를 지정 */
}


#container {
    flex: 1;
    /* 나머지 공간을 모두 차지하도록 설정 */
    display: flex;
    flex-direction: column;
    /* 내부 요소를 세로로 정렬 */
    justify-content: flex-start;
    /* 시작 지점에서 정렬 */
}

#content {
    padding-top: 100px;
    /* 헤더 높이에 맞춰 상단 패딩 조정 */
    height: calc(100% - 100px);
    /* 실제 표시 영역에서 헤더 높이만큼 빼줌 */
    padding-bottom: 100px;
}

/* 검색 및 드롭다운 컨테이너 스타일 */
.dropdown-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    color: var(--dark-gray);
}

/* 검색 입력 필드 스타일 */
.search {
    position: relative;
    margin: 0 auto;
    /* 페이지 가운데 정렬 */
    width: 500px;
}

input[type="text"] {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 20px;
    padding: 10px 12px;
    padding-right: 40px;
    padding-left: 40px;
    /* 돋보기 이미지 공간 확보 */
    font-size: 16px;
}

img {
    position: absolute;
    right: 10px;
    /* 오른쪽에서 10px 떨어진 위치에 배치 */
    top: 50%;
    transform: translateY(-50%);
    /* 수직 중앙 정렬 */
    cursor: pointer;
    /* 클릭 가능한 아이콘으로 커서 변경 */
    width: 20px;
    height: auto;
}

/* 드롭다운 스타일 */
#countrySelect {
    text-align: left;
    padding: 10px 15px;
    border: 2px solid var(--blue-gray-1);
    border-radius: 20px;
    background-color: var(--white);
    color: var(--dark-gray);
    cursor: pointer;
    /* 드롭다운 메뉴의 텍스트를 중간 정렬함 */
}

#countrySelect option {
    text-align: left;
    /* 옵션 텍스트 왼쪽 정렬 */
    padding-left: 10px;
    /* 왼쪽 패딩 설정 */
}

#continentSelect {
    text-align: center;
    padding: 10px 15px;
    border: 2px solid var(--blue-gray-1);
    border-radius: 20px;
    background-color: var(--white);
    color: var(--dark-gray);
    cursor: pointer;
    /* 드롭다운 메뉴의 텍스트를 중간 정렬함 */
}

#countrySelect option {
    text-align: left;
    /* 옵션 텍스트 왼쪽 정렬 */
    padding-left: 10px;
    /* 왼쪽 패딩 설정 */
}


/* 결과 없음 메시지 스타일 */
#noResult {
    text-align: center;
    /* 텍스트 가운데 정렬 */
    width: 100%;
    /* 전체 너비를 차지하도록 설정 */
    padding: 20px 0;
    /* 상하 패딩 추가 */
    color: var(--dark-gray);
    /* 글자 색상 조정 */
    font-size: 18px;
    /* 글자 크기 확대 */
    font-weight: bold;
    /* 글자 두께를 굵게 */
    margin: 20px auto;
    /* 상하 마진 추가하여 좀 더 여유롭게 표시 */
    display: block;
    /* 블록 레벨 요소로 설정 */
}

/* 섹션 제목 스타일 */
h2 {
    color: var(--blue);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* 결과창 */
/* 테이블 기본 설정 */
#cosine-list {
    width: 100%;
    border-radius: 20px;
    border-collapse: collapse;
    background-color: var(--white);
    /* 배경색 설정 */

}

/* 테이블 헤더 스타일 */
#cosine-list th {
    text-align: center;
    /* 텍스트 가운데 정렬 */
    background-color: var(--blue);
    color: var(--white);
    padding: 15px 10px;
    /* 적절한 패딩으로 간격 조정 */
}

/* 테이블 셀 스타일 */
#cosine-list td {
    text-align: center;
    padding: 12px 10px;
    /* 적절한 패딩으로 간격 조정 */
    word-break: break-word;
    /* 단어가 길어질 경우 줄바꿈 */
    max-width: 150px;
    /* 최대 너비 설정 */
}

/* 행 호버 효과 */
#cosine-list tr:hover {
    background-color: var(--blue-gray-2);
}

/* 아이콘 스타일 */
.fa {
    font-size: 16px;
    /* 아이콘 크기 */
    color: var(light-gray-2);
    /* 아이콘 기본 색상 */
    cursor: pointer;
    /* 마우스 오버 시 커서 변경 */
    padding: 0 5px;
    /* 아이콘 사이의 간격 조정 */
}

.fa-star.active,
.fa-envelope.active,
.fa-magnifying-glass.active {
    color: var(--blue);
}

/* 모달창 닫기 버튼 css */
.closeBtn {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;

    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}

/******************************
        배너 만들기 
        *******************************/
.sub-visual--sub2 .sub-visual__inner {
    background: var(--light-blue-1);
}

.sub-visual__inner {
    position: relative;
    max-width: 1366px;
    margin: 122px auto 0;
    padding: 64px 0 65px 111px;
    border-radius: 32px 0;
}

.sub-visual__h2 {
    margin: 0;
    padding: 0;
    line-height: 1;
    border: 0;
    box-sizing: border-box;
    font-family: Pretendard, Nanum Gothic, 나눔고딕, sans-serif;
    position: relative;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
}

.sub-visual__desc {
    position: relative;
    width: 475px;
    margin-top: 15px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #fff;

}

.sub-visual__inner:before {
    content: "";
    position: absolute;
    top: 50px;
    right: 111px;
    display: block;
    width: 498px;
    /* height: 269px; */
    height: 300px;

    background: url(/images/banner/emailbanner.png) no-repeat 0 0 / 100% auto;
}