.content {
    /* content가 화면의 68%를 차지하도록 설정 */
    margin: 0 auto;
    /* 가운데 정렬 */
    margin-top: 200px;
    margin-bottom: 200px;
}

.page-header {
    text-align: center;
    font-size: 36px;
    margin-top: 150px;
    margin-bottom: 50px;
}

.crateCal {
    margin: 0 auto;
    /* 가운데 정렬 */
    margin-top: 150px;
    /* 배너와의 거리 */
    margin-bottom: 60px;
}


/* 이게 화면의 가운데 위치되도록 함 */
.selectFirst,
.selectSecond {
    /* 첫번째와 두번째 선택 영역의 스타일 설정 */
    text-align: center;
    /* 텍스트를 가운데 정렬 */
}

/****************
국기 위치
****************/


.flag-container {
    display: inline-block;
    vertical-align: middle;
    /* 이미지를 텍스트와 수직으로 정렬합니다. */
    margin-right: 10px;
    /* 이미지와 텍스트 사이의 간격을 조절합니다. */


}





.selectBox {
    width: 200px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 12px 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

}

.selectFirst {
    margin-bottom: 20px;

}

.eqalSign {
    text-align: center;
    margin-bottom: 20px;

}






table {
    width: 68%;
    margin: 0 auto;

}

#amount,
#amountDown {
    width: 200px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 12px 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    appearance: none;
    text-align: left;
    background-color: aliceblue;

}

/******************************
        배너 
*******************************/
.sub-visual--sub2 .sub-visual__inner {
    background: #8CBDED
}

.sub-visual__inner {
    position: relative;
    max-width: 1366px;
    margin: 122px auto 0;
    padding: 64px 0 65px 111px;
    border-radius: 32px 0;
}

.sub-visual__h2 {
    margin: 0;
    padding: 0;
    line-height: 1;
    border: 0;
    box-sizing: border-box;
    font-family: Pretendard, Nanum Gothic, 나눔고딕, sans-serif;
    position: relative;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
}

.sub-visual__desc {
    position: relative;
    width: 475px;
    margin-top: 15px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #fff;

}

.sub-visual__inner:before {
    content: "";
    position: absolute;
    top: -2px;
    right: 50px;
    display: block;
    width: 498px;
    /* height: 269px; */
    height: 350px;

    background: url(/images/banner/moneybanner.png) no-repeat 0 0 / 100% auto;
}