@charset "UTF-8";

/* reset */
@import url(lib/reset.css);
/* library */
@import url(lib/aos.css);
/* Animate On Scroll: 웹 페이지에서 스크롤에 따라 요소들에 애니메이션 효과를 적용하는 JavaScript 라이브러리 */
@import url(lib/swiper.css);
/* Swiper: 모바일 터치 슬라이더 라이브러리 다양한 터치 이벤트와 애니메이션을 지원하여 사용자에게 부드러운 슬라이드 경험을 제공 */
/* common css */
@import url(_swiper-custom.css);
@import url(_font.css);
@import url(_color.css);
@import url(_vars.css);
@import url(_button.css);
@import url(_form.css);
@import url(_layout.css);
@import url(_global.css);


body {
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* 컨텐츠를 세로로 정렬합니다. */
    align-items: center;
    /* 가로 중앙 정렬 */
    justify-content: center;
    /* 세로 중앙 정렬 */
}

#content {
    width: 100%;
    /* 콘텐츠 영역을 전체 너비로 설정 */
    max-width: 800px;
    /* 콘텐츠 최대 너비 제한 */
    margin: 0 auto;
    /* 상하 마진 없이 좌우 마진 자동으로 설정하여 중앙 정렬 */
    padding-top: 50px;
    /* 상단 패딩 조정 */
    padding-bottom: 50px;
    /* 하단 패딩 조정 */
}

.h2subject {
    font-size: 40px;
    /* 타이틀 폰트 크기 조정 */
    font-weight: bold;
    /* 타이틀 볼드 처리 */
    margin-top: 0;
    /* 타이틀 상단 마진 제거 */
    margin-bottom: 10px;
    /* 타이틀과 폼 사이의 하단 마진 설정 */
    text-align: center;
    /* 중앙 정렬 */
}

/* 입력창 스타일 조정 */
input[type='text'],
input[type='password'],
input[type='email'],
input[type='name'] {
    width: 100%;
    /* 입력창 너비를 가득 채우도록 설정 */
    padding: 12px 20px;
    /* 내부 패딩을 늘려 가독성 향상 */
    margin-top: 8px;
    /* 입력창 상단의 여백 설정 */
    margin-bottom: 16px;
    /* 입력창 하단의 여백 설정 */
    display: inline-block;
    /* 인라인 블록 요소로 설정 */
    border: 1px solid #ccc;
    /* 테두리 더 뚜렷하게 설정 */
    border-radius: 20px;
    /* 모서리를 약간 둥글게 설정 */
    box-sizing: border-box;
    /* 박스 사이징 설정으로 패딩이 너비에 포함되도록 설정 */
    background-color: #f8f8f8;
    /* 입력창 배경색 설정 */
}

#countrySelect {
    width: 100%;
    /* 입력창 너비를 가득 채우도록 설정 */
    padding: 12px 20px;
    /* 내부 패딩을 늘려 가독성 향상 */
    margin-top: 8px;
    /* 입력창 상단의 여백 설정 */
    margin-bottom: 16px;
    /* 입력창 하단의 여백 설정 */
    display: inline-block;
    /* 인라인 블록 요소로 설정 */
    border: 2px solid #ccc;
    /* 테두리 더 뚜렷하게 설정 */
    border-radius: 20px;
    /* 모서리를 약간 둥글게 설정 */
    box-sizing: border-box;
    /* 박스 사이징 설정으로 패딩이 너비에 포함되도록 설정 */
    background-color: #f8f8f8;
    /* 입력창 배경색 설정 */
    cursor: pointer;
}

/* 입력창 포커스 시 스타일 조정 */
input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='name']:focus {
    background-color: #e8e8e8;
    /* 포커스 시 배경색 변경 */
    border-color: #c7c7c7;
    /* 포커스 시 테두리 색상 변경 */
    outline: none;
    /* 기본 아웃라인 제거 */
}

#countrySelect:focus {
    background-color: #e8e8e8;
    /* 포커스 시 배경색 변경 */
    border-color: #c7c7c7;
    /* 포커스 시 테두리 색상 변경 */
    outline: none;
    /* 기본 아웃라인 제거 */
    cursor: pointer;
}


/* 회원가입 폼 스타일 */
.join_info {
    width: 100%;
    /* 폼 너비 전체로 설정 */
    margin-top: 20px;
    /* 폼 상단 마진 설정 */
    border-collapse: collapse;
    /* 테이블 테두리 겹침 제거 */
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* 폼에 그림자 효과 추가 */
}

.join_info th {
    background-color: #f3f3f3;
    /* 헤더 배경색 변경 */
    width: 150px;
}

.join_info th,
.join_info td {
    text-align: left;
    /* 텍스트 왼쪽 정렬 */
    padding: 15px;
    /* 패딩 설정 */
}

/* 제목 스타일링 */
.h4subject {
    margin-top: 20px;
    font-size: 24px;
    text-align: left;
    /* 왼쪽 정렬 */
    margin-bottom: 10px;
    /* 하단 마진 설정 */
    padding-left: 15px;
    /* 좌측 패딩 설정 */
    font-weight: bold;
    /* 볼드 처리 */
}

/* 동의 체크박스 스타일 */
/* 원래 체크박스를 숨깁니다 */
/* 원래 체크박스를 숨깁니다 */
.checkbox {
    display: none;
}

/* 라벨을 커스텀 체크박스 디자인으로 꾸밉니다 */
.checkbox-label {
    position: relative;
    padding-left: 35px;
    /* 체크박스 아이콘을 넣기 위한 공간 */
    cursor: pointer;
    /* 마우스 오버 시 포인터 모양으로 변경 */
    user-select: none;
    /* 텍스트 선택 방지 */
}

/* 라벨의 가상 요소를 이용하여 체크박스 아이콘을 만듭니다 */
.checkbox-label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    /* 체크박스의 크기 */
    height: 25px;
    border: 1px solid #ddd;
    /* 체크박스의 테두리 */
    border-radius: 20px;
    /* 체크박스 모서리를 둥글게 */
    background: #f8f8f8;
    /* 체크박스 배경색 */
}

/* 체크된 상태의 스타일 */
.checkbox:checked+.checkbox-label::after {
    content: '';
    position: absolute;
    left: 10px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid var(--blue);
    /* 체크 표시 색상 */
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    /* 체크 표시를 기울임 */
}

/* 회원가입 버튼 기본 스타일 */
.join {
    text-align: center;
    /* 인라인 또는 인라인 블록 요소를 중앙에 배치 */
}

/* 기존 스타일 유지 */
.join .btn-primary {
    padding: 10px 20px;
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 50px;
    /* 버튼 위의 여백 */
    display: inline-block;
    /* 인라인 블록으로 설정하여 text-align 속성이 적용되도록 함 */
}

/* 버튼에 마우스를 올렸을 때의 스타일 */
.join .btn-primary:hover {
    background-color: #7b92b4;
}

/* 경고 메세지 */
#userId+span,
/* 아이디 입력 필드에 대한 경고 메시지 */
#userPwd+span,
/* 비밀번호 입력 필드에 대한 경고 메시지 */
#userPwdConfirm+span {
    /* 비밀번호 확인 입력 필드에 대한 경고 메시지 */
    display: block;
    /* span을 블록 요소로 만들어 줄바꿈 추가 */
    color: #d9534f;
    /* 경고 텍스트는 일반적으로 빨간색을 사용 */
    font-size: 0.8em;
    /* 텍스트 크기는 상대적으로 작게 조정 */
    margin-top: 5px;
    /* 입력 필드와의 간격 */
    text-align: left;
    /* 텍스트 왼쪽 정렬 */
}