/****
LOGIN
*****/
@charset "UTF-8";

/* reset */
@import url(lib/reset.css);
/* library */
@import url(lib/aos.css);
/* Animate On Scroll: 웹 페이지에서 스크롤에 따라 요소들에 애니메이션 효과를 적용하는 JavaScript 라이브러리 */
@import url(lib/swiper.css);
/* Swiper: 모바일 터치 슬라이더 라이브러리 다양한 터치 이벤트와 애니메이션을 지원하여 사용자에게 부드러운 슬라이드 경험을 제공 */
/* common css */
@import url(_swiper-custom.css);
@import url(_font.css);
@import url(_color.css);
@import url(_vars.css);
@import url(_button.css);
@import url(_form.css);
@import url(_layout.css);
@import url(_global.css);

/* sub - login  */

.sub.login .section.banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sub.login .section.banner .full-h {
  height: 100vh;
  /* Full viewport height */
}

#wrap.gap #container>#content.sub.login.home {
  padding-top: 0;
  margin-top: calc(var(--header-height, 60px));
}

.sub.login.home .page-header .full-h .title-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sub.login.home .section.with .content-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  color: white;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 330px;
  width: 100%;
}

.form-login .form-floating {
  position: relative;
  width: 100%;
  margin-bottom: 16px;
}

.form-login input[type="id"],
.form-login input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  transition: border 0.3s ease;
}

.form-login input[type="id"]:focus,
.form-login input[type="password"]:focus {
  border-color: #0056b3;
  outline: none;
}

.form-login button[type="submit"] {
  width: 50%;
  padding: 10px 20px;
  background-color: var(--blue);
  color: white;
  font-size: 1.0rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-login button[type="submit"]:hover {
  background-color: #7b92b4;
}

@media all and (max-width: 768px) {
  .sub.login.home .section.with {
    background-image: url('../images/about/bg_space_mo.jpg');
  }
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 0.3rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: var(--blue);
  /* Bootstrap의 primary 색상 */
  border: 1px solid transparent;
  text-decoration: none;
}

.auth-links {
  display: flex;
  justify-content: flex-end;
  /* 오른쪽 정렬 */
  margin-top: 20px;
  /* 폼과의 간격 조절 */
}

.auth-link {
  margin-left: 10px;
  /* 링크 간의 간격 */
  text-decoration: none;
  /* 밑줄 제거 */
  font-size: 0.8rem;
  /* 폰트 크기 조정 */
  color: white;
  /* 텍스트 색상 */
  background-color: #c9deff;
  /* 배경 색상 */
  padding: 10px 15px;
  /* 패딩 조정 */
  border-radius: 4px;
  /* 모서리 둥글게 */
  display: block;
}

.btn-secondary:hover {
  background-color: #c9deff;
  /* 호버 시 배경색 변경 */
}