<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 보기 화면</title>

    <link rel="stylesheet" th:href="@{/css/detail.css}">
    <script th:src="@{/script/jquery-3.7.1.min.js}"></script>
    <script>

        $(function () {
            init();
            $("#replyBtn").on('click', replyWrite);
            $("#likeit").on('click', likeit);

        });


        // 댓글 업데이트  
        function updateReply() {
            let contextPath = $("#contextPath").val();
            let replyNum = $(this).attr("data-no");// 해당 댓글의 번호와 ~ 
            // 버튼 바꾸기 -ok 
            $("#replyBtn").attr("style", "display: none;");
            $("#correctBtn").attr("style", "display");
            $("#correctBtn").attr("data-no", replyNum);
            // 댓글 내용 가지고 오기 
            $.ajax({
                url: contextPath + "/reply/replyCorrect"// dto를 가지고옴 
                , method: 'GET'
                , data: { "replyNum": replyNum }
                , success: function (output) {
                    //alert("댓글내용" + output.replyText);
                    $("#replyText").val(output.replyText); // 댓글 창에 뿌리기 
                    $("#replyText").focus();
                }
            })
            // 수정 버튼을 클릭한다면 
            $("#correctBtn").on('click', correctReply)
            //본격적인 댓글 작업 
            function correctReply() {
                //alert($(this).attr("data-no"));
                let replyText = $("#replyText").val();

                let replyNum = $(this).attr("data-no");

                $.ajax({
                    url: contextPath + "/reply/replyCorrect"// dto를 가지고옴 
                    , method: 'POST'
                    , data: { "replyNum": replyNum, "replyText": replyText }
                    , success: function (output) {

                        $("#replyBtn").attr("style", "display");
                        $("#correctBtn").attr("style", "display: none;");
                        $("#replyText").val("");
                        init();

                    }
                })


            }


        }


        //댓글 등록 / 댓글 업뎃 
        function replyWrite() {

            let replyText = $("#replyText").val();
            let boardNum = $("#boardNum").val(); // 어떤 게시글의 댓글인지 알려줘야함 
            let contextPath = $("#contextPath").val(); // 어떤 게시글의 댓글인지 알려줘야함 
            let replyWriter = $("#loginId").val();
            let replyNum = $(this).attr("data-no");
            // 타임리프 문법을 쓰면 안된다 
            // 제이쿼리랑 자바스크립트 문법이랑 같이 쓰지말자 

            let sendData = {
                "replyWriter": replyWriter
                , "replyText": replyText
                , "boardNum": boardNum
            };

            if (replyText.trim().length == 0) {
                alert("댓글 내용을 입력하세요!");
                $("#replyText").focus();
            }

            $.ajax({
                url: contextPath + "/reply/replyInsert"
                , method: "POST"
                , data: sendData
                , success: function (resp) {
                    let replyNum = resp["replyNum"];
                    let replyText = resp["replyText"];
                    let replyWriter = resp["replyWriter"];
                    let createDate = resp["createDate"];
                    // 저장이 되면 할 예정 
                    let receivedData = `
                    <tr>
                        
                        <td>${replyText}</td>
                        <td>${replyWriter}</td>
                        <td>${createDate}</td>
                        <td>
                            <input type="button"  class="correct btn btn-info" value="수정" data-no="${replyNum}">
                            <input type="button" class="delBtn btn btn-danger" value="삭제" data-no="${replyNum}">
                        </td>
                        
                    </tr>
                        `;
                    $("#reply-list").append(receivedData);
                    $(".delBtn").on('click', deleteReply);
                    $(".correct").on('click', updateReply);



                }

            })

        }



        // 좋아용!!!!
        function likeit() {
            let contextPath = $("#contextPath").val();
            let boardNum = $("#boardNum").val();// 보드 넘에 대해서 넘겨받고 그걸
            let like = $("#likeit").attr("dt-like"); // 사용자 정의 속성값을 갖고 와서 
            let count = 1;
            if (like == "false") {
                count = 1;
                $("#likeit").attr("dt-like", "true");

            } else {
                count = -1;

                $("#likeit").attr("dt-like", "false");
            }
            $.ajax({
                url: contextPath + "/board/boardlikeit"
                , method: 'GET'
                , data: { "boardNum": boardNum, "count": count }
                , success: function (output) {

                    $("#likecount").html(output);
                }
            })



        }

        // 모든 댓글 내용을 읽어 오는 함수 
        function init() {
            let contextPath = $("#contextPath").val();
            let boardNum = $("#boardNum").val();
            $.ajax({
                url: contextPath + "/reply/replyAll"
                , method: 'GET'
                , data: { "boardNum": boardNum }
                , success: output

            })

        }
        function output(resp) {

            let receivedData = '';
            receivedData += `
                <tr>
        			
        			<th>글 내용</th>
        			<th>작성자</th>
        			<th>글쓴시간</th>
        			<th>비고</th>
        		</tr>
                    `;
            let replycount = 0;
            $.each(resp, function (index, item) {
                let contextPath = $("#contextPath").val();
                let replyNum = item["replyNum"];
                let replyText = item["replyText"];
                let replyWriter = item["replyWriter"];
                let createDate = item["createDate"];
                // let loginId = ${#authentication.name} // 타임리프 해석은 서버에서 
                // loginId = $("값"); //제이쿼리 해석은 클라이언트 웹브라우저 쪽에서한다


                replycount += 1;
                receivedData += `
                <tr>
        			
        			<td>${replyText}</td>
        			<td>${replyWriter}</td>
        			<td>${createDate}</td>
        			<td>`;

                if ($("#loginId").val() == replyWriter) {
                    receivedData +=
                        `<input type="button" class="correct btn btn-info" value="수정" data-no="${replyNum}">
                    <input type="button" class="delBtn btn btn-danger" value="삭제" data-no="${replyNum}">`
                }

                receivedData += `</td>`
                receivedData += `</tr>`;

                $("#reply-list").html(receivedData);
                $(".delBtn").on('click', deleteReply);
                $(".correct").on('click', updateReply);

            })// each


        }



        //댓글 삭제
        function deleteReply() {

            let contextPath = $("#contextPath").val();
            let replyNum = $(this).attr("data-no");

            $.ajax({
                url: contextPath + "/reply/replydelete"
                , method: 'GET'
                , data: { "replyNum": replyNum }
                , success: function (deledata) {


                }
            })
            let data = $(this).parent().parent();// 제이쿼리객체 

            data.remove();

        }
    </script>
</head>

<body>
    <div class="container">
        <div class="logo">
            <a th:href="@{/}"><img th:src="@{/images/airplane.png}" alt="logo"></a>
            <h2>게시글 보기</h2>


        </div>
    </div>
    <!-- 글 보기  -->

    <div class="content">
        <input type="hidden" id="boardNum" th:value="${board.boardNum}">
        <input type="hidden" id="contextPath" th:value="${contextPath}">
        <input type="hidden" id="loginId" th:value="${#authentication.name}">
        <!--인증 받은 아이디는 세션에 저장하는데 , 컨트롤로에서 모델로 담아서 보내느 방법 있음 -->
        <table border="1">
            <tr>
                <th>작성자</th>
                <td>
                    <span th:text="${board.boardWriter}">작성자</span>
                </td>
            </tr>
            <tr>
                <th>글제목</th>
                <td>
                    <span th:text="${board.boardTitle}">글제목</span>
                    <input type="button" value="♥️" id="likeit" dt-like="false"><span id="likecount"
                        th:text="${board.favoriteCount}"></span>
                </td>
            </tr>
            <tr>
                <th>작성일</th>
                <td>
                    <span th:text="${board.createDate}">작성일</span>
                </td>
            </tr>
            <tr>
                <th>수정일</th>
                <td>
                    <span th:text="${board.updateDate}">수정일</span>
                </td>
            </tr>
            <tr>
                <th>글내용</th>
                <td>
                    <pre>[[${board.boardContent}]]</pre>

                </td>
            </tr>
            <tr>
                <th>첨부파일</th>
                <td>
                    <span th:if="${board.originalFileName != null}">
                        <a th:href="@{/board/download(boardNum=${board.boardNum})}"
                            th:text="${board.originalFileName}">bts.jpg</a>
                    </span>
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    <!-- 글 삭제와 수정은 글쓴 사람과 로그인한 사람과 동일한 경우에만 나타나야함-->
                    <!--userDetails의 id의 값과 board의 writer의 값이 같아야한다-->
                    <th:block th:if="${board.boardWriter == #authentication.name}">
                        <a th:href="@{/board/boardUpdate(boardNum=${board.boardNum},searchItem=${searchItem},searchWord=${searchWord})}"
                            class="btn btn-primary">수정</a>
                        <a th:href="@{/board/boardDelete(boardNum=${board.boardNum},searchItem=${searchItem},searchWord=${searchWord})}"
                            class="btn btn-danger">삭제</a>
                    </th:block>
                    <a th:href="@{/board/boardList(boardNum=${board.boardNum},searchItem=${searchItem},searchWord=${searchWord})}"
                        class="btn btn-info">목록</a>

                </th>
            </tr>

        </table>
        <!--댓글 입력부분: 로그인한 사람만 가능-->
        <div class="reply-write">
            <input type="text" id="replyText" placeholder="댓글 내용 입력">
            <input type="button" id="replyBtn" class="btn btn-info" value="댓글작성">
            <input type="button" id="correctBtn" class="btn btn-update" value="댓글수정" style="display: none;">
        </div>

        <!--댓글 목록 출력 부분 -->
        <table id="reply-list">
        </table>


    </div>

</body>

</html>