<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이메일 발송</title>
</head>

<body>
    <h2>email 보내기</h2>
    <h2>추천 알고리즘</h2>
    <!-- 로그인 유저의 고유 넘버값 넣어주는거 있지말기-->
    <!-- <input type="hidden" id="loginId" th:value="${#authentication.name}"> 로그인한 유저의 -->
    <input type="hidden" id="userNum" value="1"><!--우선은 임으로 만들어봄 -->
    <span id="noResult"></span>
    <table id="cosine-list"> <!--추천 알고리즘-->
    </table>

</body>

</html>