@charset "UTF-8";
@import "main.css";


/* *******************************
    회원가입 / 로그인 화면
********************************* */

.content {
    width: 1000px;
    margin: 0 auto;
}

.content .section {
    padding: 80px;
}


.section>.article {
    width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;

}

.section>.article>ul {
    margin: 10px auto;
}

.section>.article>ul>li {
    color: #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    /* 수평 가운데 정렬 */
    width: 95%;
}

.section>.article>ul>li>input {
    /* 영역 100%를 기준으로 아이콘, 여백 등의 크기(60px)을 뺀 나머지 여백을 폭으로 지정 */
    width: 218px;
    background-color: #f7f7f7;
    margin: 10px 0 0 10px;
    padding: 10px;
    border: inherit;
}

.btns {
    text-align: center;
}


.content .section.pointColor {
    background: linear-gradient(45deg,
            rgb(252, 226, 130) 0%,
            rgb(244, 180, 90)100%);
}

/*********************
input 상자
**********************/

.search {
    display: flex;
    justify-content: center;
    /* 수평 가운데 정렬 */
    align-items: center;
    /* 수직 가운데 정렬 */
    padding: 50px;
}

/* 선택 상자와 입력 상자 간격 설정 */
.search select,
.search input {
    margin-right: 10px;
}

.search input {
    width: 250px;
}

/**************
구매하기 버튼 
**************/
.insertProduct>a {
    color: white;
}

.insertProduct {


    margin-bottom: 15px;
    margin-left: 130px;
    padding: 15px;

}