<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>문의하기</title>
    <link rel="icon" th:href="@{/images/common/favi.png}">
    <meta property="og:title" content="나이스투매치유">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image" content="http://ilmobility.co.kr/@resource/images/common/sns_share.png">
    <!-- 페이지가 소셜 미디어 플랫폼에 공유될 때 표시될 이미지의 URL을 지정 -->
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="400">
    <link type="text/css" rel="stylesheet" th:href="@{/css/inquirymodal.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/nice_dev.css}">
    <script th:src="@{/js/lib/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/nice_dev.js}"></script>
</head>

<!-- 모달창이라 header랑 footer 안붙여놓음 -->
<body>
    <div class="modal">
        <div class="modal_body">
            <table>
                <tr>
                    <th> 제목 </th>
                    <td>
                        <input class="modalTitle" type="text">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea class="modalSummary" placeholder="내용"></textarea>
                    </td>
                </tr>
            </table>
            <div>
                <a type="button" class="send Btn btn-primary"> 전송하기</a>
            </div>
        </div>
</body>

</html>